<section class="gallery-section" style="margin-top: 149px;">
    <div class="container">
        <h2 class="gallery-title">
            Sports</h2>
        <div class="gallery-grid">

            <a href="../assets/img/events/Sports/c2.jpg" data-lightbox="vj-gallery"><img
                    src="../assets/img/events/Sports/c2.jpg" alt="Gallery Image 8" style="height: 188px;"></a>
            <a href="../assets/img/events/Sports/cc1.jpg" data-lightbox="vj-gallery"><img
                    src="../assets/img/events/Sports/cc1.jpg" alt="Gallery Image 8" style="height: 188px;"></a>
            <a href="../assets/img/events/Sports/cc3.jpg" data-lightbox="vj-gallery"><img
                    src="../assets/img/events/Sports/cc3.jpg" alt="Gallery Image 8" style="height: 188px;"></a>
            <a href="../assets/img/events/Sports/cc5.jpg" data-lightbox="vj-gallery"><img
                    src="../assets/img/events/Sports/cc5.jpg" alt="Gallery Image 8" style="height: 188px;"></a>
            <a href="../assets/img/events/Sports/cc7.jpg" data-lightbox="vj-gallery"><img
                    src="../assets/img/events/Sports/cc7.jpg" alt="Gallery Image 8" style="height: 188px;"></a>
            <a href="../assets/img/events/Sports/ch1.jpg" data-lightbox="vj-gallery"><img
                    src="../assets/img/events/Sports/ch1.jpg" alt="Gallery Image 8" style="height: 188px;"></a>
            <a href="../assets/img/events/Sports/ch2.jpg" data-lightbox="vj-gallery"><img
                    src="../assets/img/events/Sports/ch2.jpg" alt="Gallery Image 8" style="height: 188px;"></a>
           

            <a href="../assets/img/events/Sports/cr1.jpg" data-lightbox="vj-gallery"><img src="../assets/img/events/Sports/cr1.jpg"
                    alt="Gallery Image 8" style="height: 188px;"></a>
            <a href="../assets/img/events/Sports/cr3.jpg" data-lightbox="vj-gallery"><img src="../assets/img/events/Sports/cr3.jpg"
                    alt="Gallery Image 8" style="height: 188px;"></a>
            <a href="../assets/img/events/Sports/cr4.jpg" data-lightbox="vj-gallery"><img src="../assets/img/events/Sports/cr4.jpg"
                    alt="Gallery Image 8" style="height: 188px;"></a>
            <a href="../assets/img/events/Sports/cr5.jpg" data-lightbox="vj-gallery"><img src="../assets/img/events/Sports/cr5.jpg"
                    alt="Gallery Image 8" style="height: 188px;"></a>
            <a href="../assets/img/events/Sports/st1.jpg" data-lightbox="vj-gallery"><img src="../assets/img/events/Sports/st1.jpg"
                    alt="Gallery Image 8" style="height: 188px;"></a>
            <a href="../assets/img/events/Sports/tb1.jpg" data-lightbox="vj-gallery"><img src="../assets/img/events/Sports/tb1.jpg"
                    alt="Gallery Image 8" style="height: 188px;"></a>
            <a href="../assets/img/events/Sports/tb3.jpg" data-lightbox="vj-gallery"><img src="../assets/img/events/Sports/tb3.jpg"
                    alt="Gallery Image 8" style="height: 188px;"></a>

           <a href="../assets/img/events/Sports/vb4.jpg" data-lightbox="vj-gallery"><img src="../assets/img/events/Sports/vb4.jpg"
                    alt="Gallery Image 8" style="height: 188px;"></a>





            <a href="../assets/img/events/ev1.jpg" data-lightbox="vj-gallery"><img src="../assets/img/events/ev1.jpg"
                    alt="Gallery Image 8" style="height: 188px;"></a>

            <a href="../assets/img/events/ev2.jpg" data-lightbox="vj-gallery"><img src="../assets/img/events/ev2.jpg"
                    alt="Gallery Image 8" style="height: 188px;"></a>


            <a href="../assets/img/events/ev6.jpeg" data-lightbox="vj-gallery"><img src="../assets/img/events/ev6.jpeg"
                    alt="Gallery Image 3" style="height: 188px;"></a>

            <a href="../assets/img/events/ev7.jpeg" data-lightbox="vj-gallery"><img src="../assets/img/events/ev7.jpeg"
                    alt="Gallery Image 4" style="height: 188px;"></a>

            <a href="../assets/img/events/ev8.jpeg" data-lightbox="vj-gallery"><img src="../assets/img/events/ev8.jpeg"
                    alt="Gallery Image 6" style="height: 188px;"></a>

            <a href="../assets/img/events/ev9.jpeg" data-lightbox="vj-gallery"><img src="../assets/img/events/ev9.jpeg"
                    alt="Gallery Image 7" style="height: 188px;"></a>

            <a href="../assets/img/events/ev10.jpeg" data-lightbox="vj-gallery"><img
                    src="../assets/img/events/ev10.jpeg" alt="Gallery Image 8" style="height: 188px;"></a>

            <a href="../assets/img/events/ev11.jpeg" data-lightbox="vj-gallery"><img
                    src="../assets/img/events/ev11.jpeg" alt="Gallery Image 8" style="height: 188px;"></a>

            <a href="../assets/img/events/ev15.jpg" data-lightbox="vj-gallery"><img src="../assets/img/events/ev15.jpg"
                    alt="Gallery Image 8" style="height: 188px;"></a>

            <a href="../assets/img/events/ev16.jpg" data-lightbox="vj-gallery"><img src="../assets/img/events/ev16.jpg"
                    alt="Gallery Image 8" style="height: 235px;"></a>

            <a href="../assets/img/events/ev17.jpg" data-lightbox="vj-gallery"><img src="../assets/img/events/ev17.jpg"
                    alt="Gallery Image 8" style="height: 235px;"></a>

            <a href="../assets/img/events/ev18.jpg" data-lightbox="vj-gallery"><img src="../assets/img/events/ev18.jpg"
                    alt="Gallery Image 8" style="height: 188px;"></a>

            <a href="../assets/img/events/ev19.jpg" data-lightbox="vj-gallery"><img src="../assets/img/events/ev19.jpg"
                    alt="Gallery Image 8" style="height: 188px;"></a>

            <a href="../assets/img/events/ev20.jpg" data-lightbox="vj-gallery"><img src="../assets/img/events/ev20.jpg"
                    alt="Gallery Image 8" style="height: 188px;"></a>

            <a href="../assets/img/events/ev21.jpg" data-lightbox="vj-gallery"><img src="../assets/img/events/ev21.jpg"
                    alt="Gallery Image 8" style="height: 188px;"></a>

            <a href="../assets/img/events/ev22.jpg" data-lightbox="vj-gallery"><img src="../assets/img/events/ev22.jpg"
                    alt="Gallery Image 8" style="height: 188px;"></a>

            <a href="../assets/img/events/ev23.jpg" data-lightbox="vj-gallery"><img src="../assets/img/events/ev23.jpg"
                    alt="Gallery Image 8" style="height: 188px;"></a>


        </div>



    </div>
</section>