<!-- backtotop - start -->
<div class="xb-backtotop">
    <a href="#" class="scroll">
        <i class="far fa-arrow-up"></i>
    </a>
</div>
<!-- backtotop - end -->

<div class="body_wrap">
    <!-- header start -->
    <header id="xb-header-area" class="header-area">
        <div class="notification-bar">
            <p><strong>*** Notice :</strong> Welcome To Our New Website. Our Old Website VJ's Collegeofpaharmacy.com Is
                Permanently Shut down. ***</p>
            <div class="social-icons">
                <a href="https://www.facebook.com/share/1BaPvu7A7g/" aria-label="Facebook" target="_blank"><i
                        class="fa-brands fa-facebook"></i></a>
                <a href="https://youtube.com/@vjscollegeofpharmacy397?si=_sqrTvOXxAN0940-" aria-label="Twitter"
                    target="_blank"><i class="fab fa-youtube"></i></a>
                <a href="https://www.instagram.com/vjs_college_of_pharmacy?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
                    aria-label="Instagram" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.linkedin.com/school/vj%27s-college-of-pharmacy---india/" aria-label="LinkedIn"
                    target="_blank"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
        <div class="xb-header" style="height: 88px;">
            <div class="container">
                <div class="header__wrap ul_li_between">
                    <div class="header-logo">
                        <a><img src="../assets/img/logo/logo.png" alt="Logo"
                                style="position: relative;top: 19px;height: 51px;width: 158px;"></a>
                    </div>
                    <!-- Top Bar Section -->
                    <div class="top-bar">
                        <div class="top-left">
                            <button class="top-btn">EAPCET CODE: VJCP</button>
                            <button class="top-btn">GPAT/ PGECET CODE: VJCP1</button>
                        </div>
                        <div class="top-right">
                            <span class="call">Call: 9951780088, 9951780066/77</span>&nbsp;
                            <span class="email">Email: <a href="mailto:vjsedu@gmail.com">vjsedu&#64;gmail.com</a></span>
                        </div>
                    </div>
                    <!-- Main Menu -->
                    <div class="main-menu__wrap">
                        <nav class="main-menu navbar navbar-expand-lg">
                            <button class="navbar-toggler xb-nav-mobile" type="button" data-bs-toggle="collapse"
                                data-bs-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <i class="fas fa-bars"></i>
                            </button>
                            <div class="collapse navbar-collapse" id="mainMenu">
                                <ul class="navbar-nav ms-auto">
                                    <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/faculty">Faculty</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/campusandinfrastructure">
                                            Infrastructure</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/placements">Training & Placements</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/achievements">Achievements</a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="/events-gallery"> Gallery</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/bus-routes">Bus Routes</a></li>
                                    <li class="nav-item"><a class="nav-link">NAAC</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header end -->
    <div class="body-overlay"></div>
</div>