<!-- footer strt -->
<footer class="footer bg_img pos-rel pt-20" style="margin-top: -17px;">
    <div class="xb-footer-wrap">
        <div class="container">
            <div class="footer-cta ul_li_between mb-35">
                <div class="xb-item--holder ul_li mt-30">
                    <div class="xb-item--icon-avatar ul_li">

                    </div>

                </div>

            </div>
        </div>
        <div class="xb-footer-main pt-70 pb-60">
            <div class="container">
                <div class="row mt-none-30">
                    <div class="col-xl-3 col-lg-4 col-md-6 mt-30">
                        <div class="footer-widget mt-10">
                            <div class="xb-item--logo mb-30"><a><img src="../assets/img/logo/logo1.png" alt=""
                                        style="height: 59px;width:173px;"></a>
                            </div>
                            <span class="xb-item--details">3-149. D.B.V Raju Township, Diwancheruvu Rajahmundry, Andhra
                                Pradesh - 533296, India.</span>
                            <div class="xb-item--meta mt-20">
                                <span>Social media</span>
                                <ul class="xb-item--social_link ul_li">
                                    <li><a href="https://www.facebook.com/share/1BaPvu7A7g/" target="_blank"><i
                                                class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="https://youtube.com/@vjscollegeofpharmacy397?si=_sqrTvOXxAN0940-"
                                            target="_blank"><i class="fab fa-youtube"></i></a></li>
                                    <li><a href="https://www.linkedin.com/school/vj%27s-college-of-pharmacy---india/"
                                            target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="https://www.instagram.com/vjs_college_of_pharmacy?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
                                            target="_blank"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-xl-2 col-lg-4 col-md-6 mt-30">
                        <div class="footer-widget">
                            <h3 class="xb-item--title">Facilities</h3>
                            <ul class="xb-item--links list-unstyled">
                                <li><a>Library Facility</a></li>
                                <li><a>Lab Facility</a></li>
                                <li><a>Bus Facility</a></li>
                                <li><a>Experienced Faculty</a></li>
                                <li><a>100% Placements</a></li>
                                <li><a>Scholarships</a></li>
                            </ul>
                        </div>
                    </div> -->
                    <div class="col-xl-2 col-lg-4 col-md-6 mt-30">
                        <div class="footer-widget chng-mr">
                            <h3 class="xb-item--title">Quick Links</h3>
                            <ul class="xb-item--links list-unstyled">
                                <li><a href="/home">Home</a></li>
                                <li><a href="/about">About</a></li>
                                <li><a href="/faculty">Faculty</a></li>
                                <li><a href="/campusandinfrastructure">Infrastructure</a></li>
                                <li><a href="/placements">Training & Placements</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 mt-30">
                        <div class="footer-widget change-mr">
                            <h3 class="xb-item--title">Additional Links</h3>
                            <ul class="xb-item--links list-unstyled">
                                <li><a href="/achievements">Achievements</a></li>
                                <li><a href="/events-gallery">Gallery</a></li>
                                <li><a href="/bus-routes">Bus Routes</a></li>
                                <li><a href="/contact">Contact</a></li>
                                <li><a>Terms & Condition</a></li>
                                <li><a>Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-6 mt-30">
                        <div class="footer-widget">
                            <ul class="xb-item--links-btn list-unstyled">
                                <li><a class="thm-btn">9951780088</a></li>
                                <li><a class="thm-btn">9951780066 </a></li>
                                <li><a class="thm-btn">9951780077</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom pb-25 pt-25" style="background: #60060f;margin-top: 1px;">
            <div class="copyright text-center">
                <p>Copyright © 2025 <a>VJ's College in Pharmacy</a>. All rights reserved by<a
                        href="https://godavariwave.com/" target="_blank"> Godavari Wave</a></p>
            </div>
            <div class="copyright text-center">
                <p style="    font-size: 16px;font-weight: 700;">Website Visitors Count</p>
                <a  title="free hit counter"><img
                        src="https://counter1.optistats.ovh/private/freecounterstat.php?c=1crsldt2tayxzjnwn9ydhq7k2d4bjntz"
                        border="0" title="free hit counter" alt="free hit counter"></a>
            </div>
        </div>
    </div>
</footer>
<!-- footer end -->