<section class="gallery-section" style="margin-top: 149px;
">
        <div class="container">
                <h2 class="gallery-title">APTI – National Conference 2024</h2>
                <div class="gallery-grid">
                        <a href="../assets/img/about/gallery.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/gallery.jpg" alt="Gallery Image 1"></a>

                        <a href="../assets/img/about/gallery1.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/gallery1.jpg" alt="Gallery Image 2"></a>

                        <a href="../assets/img/about/gallery2.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/gallery2.jpg" alt="Gallery Image 3"></a>

                        <a href="../assets/img/about/gallery3.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/gallery3.jpg" alt="Gallery Image 4"></a>

                        <a href="../assets/img/about/gallery4.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/gallery4.jpg" alt="Gallery Image 5"></a>

                        <a href="../assets/img/about/gallery5.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/gallery5.jpg" alt="Gallery Image 6"></a>

                        <a href="../assets/img/about/gallery6.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/gallery6.jpg" alt="Gallery Image 7"></a>

                        <a href="../assets/img/about/gallery7.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/gallery7.jpg" alt="Gallery Image 8"></a>

                        <a href="../assets/img/about/gallery8.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/gallery8.jpg" alt="Gallery Image 8"></a>

                        <a href="../assets/img/about/gallery10.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/gallery10.jpg" alt="Gallery Image 8"></a>

                        <a href="../assets/img/about/gallery11.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/gallery11.jpg" alt="Gallery Image 8"></a>

                        <a href="../assets/img/about/gallery12.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/gallery12.jpg" alt="Gallery Image 8"></a>

                        <a href="../assets/img/about/gallery13.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/gallery13.jpg" alt="Gallery Image 8"></a>

                        <a href="../assets/img/about/gallery14.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/gallery14.jpg" alt="Gallery Image 8"></a>



                        <a href="../assets/img/about/gallery17.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/gallery17.jpg" alt="Gallery Image 8"></a>

                       
                        <a href="../assets/img/about/gallery28.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/gallery28.jpg" alt="Gallery Image 8"></a>
                        <a href="../assets/img/about/gallery29.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/gallery29.jpg" alt="Gallery Image 8"></a>
                        

                        <a href="../assets/img/about/gallery34.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/gallery34.jpg" alt="Gallery Image 8"></a>

                        <a href="../assets/img/about/gallery35.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/gallery35.jpg" alt="Gallery Image 8"></a>

                        <a href="../assets/img/icon/gallery1.jpeg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/icon/gallery1.jpeg" alt="Gallery Image 8"
                                        style="height: 166px;"></a>
                        <a href="../assets/img/icon/gallery2.jpeg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/icon/gallery2.jpeg" alt="Gallery Image 8"
                                        style="height: 166px;"></a>
                        <a href="../assets/img/icon/gallery3.jpeg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/icon/gallery3.jpeg" alt="Gallery Image 8"
                                        style="height: 166px;"></a>
                        <a href="../assets/img/icon/gallery4.jpeg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/icon/gallery4.jpeg" alt="Gallery Image 8"
                                        style="height: 166px;"></a>
                        <a href="../assets/img/icon/gallery5.jpeg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/icon/gallery5.jpeg" alt="Gallery Image 8"
                                        style="height: 166px;"></a>
                                        <!-- ////////////////////// -->
 <a href="../assets/img/about/gallery18.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/gallery18.jpg" alt="Gallery Image 8"></a>
                        <a href="../assets/img/about/gallery19.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/gallery19.jpg" alt="Gallery Image 8"></a>
                        <a href="../assets/img/about/gallery20.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/gallery20.jpg" alt="Gallery Image 8"></a>
                        <a href="../assets/img/about/gallery21.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/gallery21.jpg" alt="Gallery Image 8"></a>
                        <a href="../assets/img/about/gallery22.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/gallery22.jpg" alt="Gallery Image 8"></a>
                        <a href="../assets/img/about/gallery23.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/gallery23.jpg" alt="Gallery Image 8"></a>
                        <a href="../assets/img/about/gallery24.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/gallery24.jpg" alt="Gallery Image 8"></a>
                        <a href="../assets/img/about/gallery25.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/gallery25.jpg" alt="Gallery Image 8"></a>
                        <a href="../assets/img/about/gallery26.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/gallery26.jpg" alt="Gallery Image 8"></a>
                        <a href="../assets/img/about/gallery27.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/gallery27.jpg" alt="Gallery Image 8"></a>
                                        <a href="../assets/img/about/gallery30.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/gallery30.jpg" alt="Gallery Image 8"></a>
                        <a href="../assets/img/about/gallery31.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/gallery31.jpg" alt="Gallery Image 8"></a>
                        <a href="../assets/img/about/gallery32.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/gallery32.jpg" alt="Gallery Image 8"></a>
                        <a href="../assets/img/about/gallery33.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/gallery33.jpg" alt="Gallery Image 8"></a>
                        <!-- Add more images as needed -->
                </div>
        </div>
</section>
<section class="gallery-section">
        <div class="container">
                <h2 class="gallery-title">AICTE - National Conference 2023</h2>
                <div class="gallery-grid">
                        <a href="../assets/img/about/img.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/img.jpg" alt="Gallery Image 1"></a>
                        <a href="../assets/img/about/img1.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/img1.jpg" alt="Gallery Image 2"></a>
                        <a href="../assets/img/about/img2.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/img2.jpg" alt="Gallery Image 3"></a>
                        <a href="../assets/img/about/img3.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/img3.jpg" alt="Gallery Image 4"></a>
                        <a href="../assets/img/about/img4.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/img4.jpg" alt="Gallery Image 5"></a>
                        <a href="../assets/img/about/img5.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/img5.jpg" alt="Gallery Image 6"></a>
                        <a href="../assets/img/about/img6.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/img6.jpg" alt="Gallery Image 7"></a>
                        <a href="../assets/img/about/img7.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/img7.jpg" alt="Gallery Image 8"></a>
                        <a href="../assets/img/about/img8.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/img8.jpg" alt="Gallery Image 8"></a>
                        <a href="../assets/img/about/img9.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/img9.jpg" alt="Gallery Image 8"></a>
                        <a href="../assets/img/about/img10.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/img10.jpg" alt="Gallery Image 8"></a>
                        <a href="../assets/img/about/img11.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/img11.jpg" alt="Gallery Image 8"></a>
                </div>
        </div>
</section>
<section class="gallery-section">
        <div class="container">
                <h2 class="gallery-title">7th Indo-West Indies International Conference</h2>
                <div class="gallery-grid">
                        <a href="../assets/img/about/ph.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/ph.jpg" alt="Gallery Image 1"></a>
                        <a href="../assets/img/about/ph1.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/ph1.jpg" alt="Gallery Image 2"></a>
                        <a href="../assets/img/about/ph2.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/ph2.jpg" alt="Gallery Image 3"
                                        style="height: 165px;"></a>
                        <a href="../assets/img/about/ph3.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/ph3.jpg" alt="Gallery Image 4"
                                        style="height: 165px;"></a>
                        <a href="../assets/img/about/ph4.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/ph4.jpg" alt="Gallery Image 5"
                                        style="height: 165px;"></a>
                        <a href="../assets/img/about/ph5.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/ph5.jpg" alt="Gallery Image 6"></a>
                        <a href="../assets/img/about/ph6.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/ph6.jpg" alt="Gallery Image 6"
                                        style="height: 165px;"></a>
                        <a href="../assets/img/about/ph7.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/ph7.jpg" alt="Gallery Image 6"></a>
                        <a href="../assets/img/about/ph8.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/ph8.jpg" alt="Gallery Image 6"></a>
                        <a href="../assets/img/about/ph9.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/ph9.jpg" alt="Gallery Image 6"></a>
                        <a href="../assets/img/about/ph10.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/ph10.jpg" alt="Gallery Image 6"></a>
                        <a href="../assets/img/about/ph11.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/ph11.jpg" alt="Gallery Image 6"></a>

                </div>
        </div>
</section>

<section class="gallery-section">
        <div class="container">
                <h2 class="gallery-title">5th Indo-Caribbean Conference</h2>
                <div class="gallery-grid">
                        <a href="../assets/img/about/pict.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/pict.jpg" alt="Gallery Image 1"></a>
                        <a href="../assets/img/about/pict1.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/pict1.jpg" alt="Gallery Image 2"></a>

                        <a href="../assets/img/about/5thIndoCaribbean/1.jpeg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/5thIndoCaribbean/1.jpeg" alt="Gallery Image 6"></a>
                        <a href="../assets/img/about/5thIndoCaribbean/2.jpeg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/5thIndoCaribbean/2.jpeg" alt="Gallery Image 6"></a>
                        <a href="../assets/img/about/5thIndoCaribbean/3.jpeg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/5thIndoCaribbean/3.jpeg" alt="Gallery Image 6"></a>

                </div>
        </div>
</section>
<section class="gallery-section">
        <div class="container">
                <h2 class="gallery-title">24th Annual Convention & National Conference of
                        Society of Pharmacognosy - 2020</h2>
                <div class="gallery-grid">
                        <a href="../assets/img/about/pic.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/pic.jpg" alt="Gallery Image 1"></a>
                        <a href="../assets/img/about/pic1.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/pic1.jpg" alt="Gallery Image 2"></a>
                        <a href="../assets/img/about/pict7.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/pict7.jpg" alt="Gallery Image 6"
                                        style="height: 188px;"></a>
                        <a href="../assets/img/about/pic3.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/pic3.jpg" alt="Gallery Image 4"></a>
                        <a href="../assets/img/about/pic4.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/pic4.jpg" alt="Gallery Image 5"></a>

                        <a href="../assets/img/about/pic6.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/pic6.jpg" alt="Gallery Image 7"></a>
                        <a href="../assets/img/about/pic7.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/pic7.jpg" alt="Gallery Image 8"></a>
                        <a href="../assets/img/about/pic8.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/pic8.jpg" alt="Gallery Image 8"
                                        style="height: 166px;"></a>
                        <a href="../assets/img/about/pic9.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/pic9.jpg" alt="Gallery Image 8"
                                        style="height: 166px;"></a>
                        <a href="../assets/img/about/pic10.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/pic10.jpg" alt="Gallery Image 8"
                                        style="height: 166px;"></a>
                        <a href="../assets/img/about/pic11.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/pic11.jpg" alt="Gallery Image 8"
                                        style="height: 166px;"></a>
                        <a href="../assets/img/about/pic12.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/pic12.jpg" alt="Gallery Image 8"
                                        style="height: 166px;"></a>
                        <a href="../assets/img/about/pic13.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/pic13.jpg" alt="Gallery Image 8"
                                        style="height: 166px;"></a>
                        <a href="../assets/img/about/pic14.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/pic14.jpg" alt="Gallery Image 8"
                                        style="height: 166px;"></a>
                        <a href="../assets/img/about/pic15.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/pic15.jpg" alt="Gallery Image 8"
                                        style="height: 166px;"></a>
                        <a href="../assets/img/about/pic16.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/pic16.jpg" alt="Gallery Image 8"
                                        style="height: 166px;"></a>

                </div>
        </div>
</section>

<section class="gallery-section">
        <div class="container">
                <h2 class="gallery-title"> APTICON Conference Attended in Bhubaneswar</h2>
                <div class="gallery-grid">
                        <a href="../assets/img/about/conf.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/conf.jpg" alt="Gallery Image 1"></a>
                        <a href="../assets/img/about/conf1.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/conf1.jpg" alt="Gallery Image 2"></a>
                        <a href="../assets/img/about/conf2.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/conf2.jpg" alt="Gallery Image 3" style="height: 189px;
"></a>
                        <a href="../assets/img/about/conf3.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/conf3.jpg" alt="Gallery Image 4"
                                        style="height: 189px;"></a>
                        <a href="../assets/img/about/conf4.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/conf4.jpg" alt="Gallery Image 5"
                                        style="height: 189px;"></a>
                </div>
        </div>
</section>




<section class="gallery-section">
        <div class="container">
                <h2 class="gallery-title">Decennial Celebrations</h2>
                <div class="gallery-grid">
                        <a href="../assets/img/DC/DC/1.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/DC/DC/1.jpg" alt="Gallery Image 1"></a>
                        <a href="../assets/img/DC/DC/2.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/DC/DC/2.jpg" alt="Gallery Image 2"></a>
                        <a href="../assets/img/DC/DC/3.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/DC/DC/3.jpg" alt="Gallery Image 3"
                                        style="height: 165px;"></a>
                        <a href="../assets/img/DC/DC/4.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/DC/DC/4.jpg" alt="Gallery Image 4"
                                        style="height: 165px;"></a>


                </div>
        </div>
</section>