<section class="gallery-section">
    <div class="container">
        <h2 class="gallery-title">News Articles</h2>
        <div class="gallery-grid">
            <a href="../assets/img/bg/news1.jpg" data-lightbox="vj-gallery"><img
                    src="../assets/img/bg/news1.jpg" alt="Gallery Image 1" style="height: 300px;"></a>
            <a href="../assets/img/bg/news2.jpg" data-lightbox="vj-gallery"><img
                    src="../assets/img/bg/news2.jpg" alt="Gallery Image 2" style="height: 300px;"></a>
            <a href="../assets/img/bg/news3.jpg" data-lightbox="vj-gallery" ><img
                    src="../assets/img/bg/news3.jpg" alt="Gallery Image 3" style="height: 300px;"></a>
            <a href="../assets/img/bg/news4.jpg" data-lightbox="vj-gallery"><img
                    src="../assets/img/bg/news4.jpg" alt="Gallery Image 4" style="height: 300px;"></a>
            <a href="../assets/img/bg/newsart1.jpeg" data-lightbox="vj-gallery"><img
                    src="../assets/img/bg/newsart1.jpeg" alt="Gallery Image 5" style="height: 300px;"></a>

        </div>
    </div>
</section>