<main style="overflow-x: hidden;">

    <!-- breadcrumb start -->
    <section class="breadcrumb bg_img ul_li" data-background="../assets/img/bg/banner.png">
        <div class="container">
            <div class="breadcrumb__content text-center">
                <h2 class="breadcrumb__title">Our Placements</h2>
                <p class="breadcrumb__desc">Your future is waiting for you.We Are Committed To Excellence In Pharmacy
                    Education.</p>
            </div>
        </div>
    </section>
    <!-- breadcrumb end -->
    <section class="placement-section">
        <div class="container">
            <h2 class="title">Your Career is Our Responsibility</h2>
            <p class="description">
                VJ's College of Pharmacy offers a wide range of pharmacy courses taught by an experienced and competent
                faculty, Our team of educators is provided with excellent facilities, resources and customised teaching
                aids to make every different courses more relevant in its own aspects,
                The competitive environment in our campus more interactive and learner-friendly.
            </p>
            <h3 class="subtitle">Yearly Report of Our Students Placements</h3>
            <div class="placement-grid">
                <a class="placement-card" target="_blank">2024-25
                    Placements
                    Report</a>
                <a href=" ../assets/img/Placements2024-2025.pdf" class="placement-card" target="_blank">2023-24
                    Placements
                    Report</a>
                <a href=" ../assets/img/Placement2022-23.pdf" class="placement-card" target="_blank">2022-23 Placements
                    Report</a>
                <a href=" ../assets/img/PLACEMENT2021-2022.pdf" class="placement-card" target="_blank">2021-22
                    Placements Report</a>
            </div>
        </div>
    </section>
    <section class="gallery-section">
        <h2 class="photo-title">Campus Placements</h2>
        <div class="container">
            <div class="gallery-grid">




                <div class="gallery-card">
                    <div class="card-inner">
                        <div class="card-front">
                            <img src="../assets/img/gallery/MSN/MSNcampusdrive.jpg" alt="Gallery Image 1" />
                        </div>
                        <div class="card-back"></div>
                    </div>
                </div>
                <div class="gallery-card">
                    <div class="card-inner">
                        <div class="card-front">
                            <img src="../assets/img/gallery/MSN/1.jpg" alt="Gallery Image 1" />
                        </div>
                        <div class="card-back"></div>
                    </div>
                </div>
                <div class="gallery-card">
                    <div class="card-inner">
                        <div class="card-front">
                            <img src="../assets/img/gallery/MSN/2.jpg" alt="Gallery Image 1" />
                        </div>
                        <div class="card-back"></div>
                    </div>
                </div>



                <div class="gallery-card">
                    <div class="card-inner">
                        <div class="card-front">
                            <img src="../assets/img/gallery/Divis/Campusdrive.jpg" alt="Gallery Image 1" />
                        </div>
                        <div class="card-back"></div>
                    </div>
                </div>
                <div class="gallery-card">
                    <div class="card-inner">
                        <div class="card-front">
                            <img src="../assets/img/gallery/Divis/1.jpg" alt="Gallery Image 1" />
                        </div>
                        <div class="card-back"></div>
                    </div>
                </div>
                <div class="gallery-card">
                    <div class="card-inner">
                        <div class="card-front">
                            <img src="../assets/img/gallery/Divis/2.jpg" alt="Gallery Image 1" />
                        </div>
                        <div class="card-back"></div>
                    </div>
                </div>
                <div class="gallery-card">
                    <div class="card-inner">
                        <div class="card-front">
                            <img src="../assets/img/gallery/Divis/3.jpg" alt="Gallery Image 1" />
                        </div>
                        <div class="card-back"></div>
                    </div>
                </div>


                <div class="gallery-card">
                    <div class="card-inner">
                        <div class="card-front">
                            <img src="../assets/img/about/placements.jpg" alt="Gallery Image 1" />
                        </div>
                        <div class="card-back"></div>
                    </div>
                </div>
                <div class="gallery-card">
                    <div class="card-inner">
                        <div class="card-front">
                            <img src="../assets/img/about/placements1.jpg" alt="Gallery Image 2" />
                        </div>
                        <div class="card-back"></div>
                    </div>
                </div>
                <div class="gallery-card">
                    <div class="card-inner">
                        <div class="card-front">
                            <img src="../assets/img/about/placements2.jpg" alt="Gallery Image 3" />
                        </div>
                        <div class="card-back"></div>
                    </div>
                </div>





                <div class="gallery-card">
                    <div class="card-inner">
                        <div class="card-front">
                            <img src="../assets/img/events/Mediassit/1.jpg" alt="Gallery Image 3" />
                        </div>
                        <div class="card-back"></div>
                    </div>
                </div>

                <div class="gallery-card">
                    <div class="card-inner">
                        <div class="card-front">
                            <img src="../assets/img/events/Mediassit/2.jpg" alt="Gallery Image 3" />
                        </div>
                        <div class="card-back"></div>
                    </div>
                </div>


                <div class="gallery-card">
                    <div class="card-inner">
                        <div class="card-front">
                            <img src="../assets/img/events/Mediassit/13.jpg" alt="Gallery Image 3" />
                        </div>
                        <div class="card-back"></div>
                    </div>
                </div>

            </div>
        </div>
    </section><br><br>

    <div class="infinite-scroll">
        <h2 class="photo-title">Our Top Recuriters</h2>
        <div class="scroll-track">
            <img src="../assets/img/icon/plac.jpg" alt="Image 1">
            <img src="../assets/img/icon/plac1.jpg" alt="Image 2">
            <img src="../assets/img/icon/plac2.jpg" alt="Image 3">
            <img src="../assets/img/icon/plac3.jpg" alt="Image 4">
            <img src="../assets/img/icon/plac4.jpg" alt="Image 1 Duplicate">
            <img src="../assets/img/icon/plac5.jpg" alt="Image 2 Duplicate">
            <img src="../assets/img/icon/plac6.jpg" alt="Image 3 Duplicate">
        </div>
    </div><br>
    <h2 class="photo-title">Hospital Training</h2>

    <div class="image-grid">
        <div class="image-grid-item"><img src="../assets/img/events/hos.jpg" alt="Image 1"></div>
        <div class="image-grid-item"><img src="../assets/img/events/hos1.jpg" alt="Image 2"></div>
        <div class="image-grid-item"><img src="../assets/img/events/hos2.jpg" alt="Image 3"></div>
        <div class="image-grid-item"><img src="../assets/img/events/hos3.jpg" alt="Image 4"></div>
        <div class="image-grid-item"><img src="../assets/img/events/hos4.jpg" alt="Image 5"></div>
        <div class="image-grid-item"><img src="../assets/img/events/hos5.jpg" alt="Image 6"></div>
        <div class="image-grid-item"><img src="../assets/img/events/hos6.jpg" alt="Image 6"></div>
        <div class="image-grid-item"><img src="../assets/img/events/hos7.jpg" alt="Image 6"></div>

        <!-- Add as many images as you want -->
    </div>
</main>