<main style="overflow-x: hidden;">

    <!-- breadcrumb start -->
    <section class="breadcrumb bg_img ul_li" data-background="../assets/img/bg/banner.png">
        <div class="container">
            <div class="breadcrumb__content text-center">
                <h2 class="breadcrumb__title">Our Campus & Infrastructure</h2>
                <p class="breadcrumb__desc">Your future is waiting for you.We Are Committed To Excellence In Pharmacy
                    Education</p>
            </div>
        </div>
    </section>
    <!-- breadcrumb end -->
    <section>
        <div class="campus-info">
            <p>VJ's College of Pharmacy functions through a well laid out campus with excellent infrastructure. It has
                modern classrooms, a rich library, well-equipped science laboratory and Computer laboratory. The
                Institute also has a Conference Hall, a Board Room and a spacious Auditorium with complete audio visual
                systems and acoustics for conducting seminars, workshops, presentations etc. It provides excellent
                facilities for sports and other co-curricular activities.</p>
        </div>
        <h2 class="tour-heading">Take a Virtual Tour of Our Campus</h2>
        <a href="https://www.google.com/maps/@17.0358086,81.8589172,0a,75y,278.41h,81.77t/data=!3m4!1e1!3m2!1sAF1QipOU9Yw0q9Fdg3fmHAwWYIPpYuG4QiC3SNHX1-g!2e10?utm_source=mstt_0&g_ep=CAESCjExLjM5LjE2MDYYACD___________8BKgA%3D"
            target="_blank">
            <img src="../assets/img/logo/carrer.jpg" alt="Campus Image" class="campus-image">
        </a>
    </section>
    <!-- HTML -->
    <section class="gallery-section">
        <div class="gallery-container">
            <h2 class="gallery-title">Library</h2>
            <div class="gallery-grid" style="display: flex; flex-wrap: wrap; gap: 10px; margin-bottom: 0;">
                <div class="gallery-item">
                    <img src="../assets/img/logo/library.jpg" alt="Highlight 1" style="height: 291px;">
                </div>
                <div class="gallery-item">
                    <img src="../assets/img/logo/library1.jpg" alt="Highlight 2" style="height: 291px;">
                </div>
                <div class="gallery-item">
                    <img src="../assets/img/logo/library2.jpg" alt="Highlight 3" style="height: 291px;">
                </div>
                <div class="gallery-item">
                    <img src="../assets/img/logo/library3.jpg" alt="Highlight 3" style="height: 291px;">
                </div>
                <div class="gallery-item">
                    <img src="../assets/img/logo/library4.jpg" alt="Highlight 3" style="height: 291px;">
                </div>
                <div class="gallery-item">
                    <img src="../assets/img/logo/library5.jpg" alt="Highlight 3" style="height: 291px;">
                </div>


            </div>
        </div>
    </section>
    <section class="gallery-section">
        <div class="gallery-container">
            <h2 class="gallery-title">Labs</h2>
            <div class="gallery-grid" style="display: flex; flex-wrap: wrap; gap: 10px; margin-bottom: 0;">
                <div class="gallery-item">
                    <img src="../assets/img/events/lab.jpg" alt="Highlight 1" style="height: 291px;">
                </div>
                <div class="gallery-item">
                    <img src="../assets/img/events/lab1.jpg" alt="Highlight 2" style="height: 290px;">
                </div>
                <div class="gallery-item">
                    <img src="../assets/img/events/lab2.jpg" alt="Highlight 3" style="height: 290px;">
                </div>
                <div class="gallery-item">
                    <img src="../assets/img/events/lab3.jpg" alt="Highlight 3" style="height: 291px;">
                </div>
                <div class="gallery-item">
                    <img src="../assets/img/events/lab4.jpg" alt="Highlight 3">
                </div>
                <div class="gallery-item">
                    <img src="../assets/img/events/lab5.jpg" alt="Highlight 3" style="height: 290px;">
                </div>
                <div class="gallery-item">
                    <img src="../assets/img/events/lab6.jpg" alt="Highlight 3">
                </div>
                <div class="gallery-item">
                    <img src="../assets/img/events/lab7.jpg" alt="Highlight 3">
                </div>
                <div class="gallery-item">
                    <img src="../assets/img/events/lab8.jpg" alt="Highlight 3" style="height: 290px;">
                </div>


                <!-- //////////////////////////////////////////// -->
                <div class="gallery-item">
                    <img src="../assets/img/events/1.jpg" alt="Highlight 3" style="height: 290px;">
                </div>
                <div class="gallery-item">
                    <img src="../assets/img/events/2.jpg" alt="Highlight 3" style="height: 290px;">
                </div>
                <div class="gallery-item">
                    <img src="../assets/img/events/3.jpg" alt="Highlight 3" style="height: 290px;">
                </div>
                <div class="gallery-item">
                    <img src="../assets/img/events/4.jpg" alt="Highlight 3" style="height: 290px;">
                </div>
                <div class="gallery-item">
                    <img src="../assets/img/events/5.jpg" alt="Highlight 3" style="height: 290px;">
                </div>
                <div class="gallery-item">
                    <img src="../assets/img/events/6.jpg" alt="Highlight 3" style="height: 290px;">
                </div>


            </div>
        </div>
    </section>
    <section class="gallery-section">
        <div class="gallery-container">
            <h2 class="gallery-title">Office</h2>
            <div class="gallery-grid" style="display: flex; flex-wrap: wrap; gap: 10px; margin-bottom: 0;">
                <div class="gallery-item">
                    <img src="../assets/img/events/adm.jpg" alt="Highlight 1" style="height: 290px;">
                </div>
                <div class="gallery-item">
                    <img src="../assets/img/events/adm1.jpg" alt="Highlight 2" style="height: 290px;">
                </div>
                <div class="gallery-item">
                    <img src="../assets/img/events/adm2.jpg" alt="Highlight 3" style="height: 290px;">
                </div>
                <!-- <div class="gallery-item">
                    <img src="../assets/img/events/lab4.jpg" alt="Highlight 3">
                </div>
                <div class="gallery-item">
                    <img src="../assets/img/events/lab6.jpg" alt="Highlight 3">
                </div> -->


            </div>
        </div>
    </section>
    <section class="gallery-section">
        <div class="gallery-container">
            <h2 class="gallery-title">Digital Classrooms</h2>
            <div class="gallery-grid" style="display: flex; flex-wrap: wrap; gap: 10px; margin-bottom: 0;">
                <div class="gallery-item">
                    <img src="../assets/img/gallery/dg1.jpg" alt="Highlight 1" style="height: 291px;">
                </div>
                <div class="gallery-item">
                    <img src="../assets/img/events/dc2.jpg" alt="Highlight 2" style="height: 291px;">
                </div>

                <div class="gallery-item">
                    <img src="../assets/img/gallery/dg3.jpg" alt="Highlight 2" style="height: 291px;">
                </div>

                <!-- <div class="gallery-item">
                <img src="../assets/img/events/lab2.jpg" alt="Highlight 3">
            </div>
            <div class="gallery-item">
                <img src="../assets/img/events/lab3.jpg" alt="Highlight 3" style="height: 291px;">
            </div>
            <div class="gallery-item">
                <img src="../assets/img/events/lab4.jpg" alt="Highlight 3">
            </div>
            <div class="gallery-item">
                <img src="../assets/img/events/lab6.jpg" alt="Highlight 3">
            </div> -->


            </div>
        </div>
    </section>
    <section class="gallery-section">
        <div class="gallery-container">
            <h2 class="gallery-title">Seminar Hall</h2>
            <div class="gallery-grid" style="display: flex; flex-wrap: wrap; gap: 10px; margin-bottom: 0;">
                <div class="gallery-item">
                    <img src="../assets/img/events/sem.jpg" alt="Highlight 1" style="height: 291px;">
                </div>
                <div class="gallery-item">
                    <img src="../assets/img/events/sem1.jpg" alt="Highlight 2">
                </div>
                <div class="gallery-item">
                    <img src="../assets/img/events/sem2.jpg" alt="Highlight 3">
                </div>
                <!-- <div class="gallery-item">
                    <img src="../assets/img/events/sem3.jpg" alt="Highlight 3" style="height: 291px;">
                </div> -->
                <!-- <div class="gallery-item">
                    <img src="../assets/img/events/lab6.jpg" alt="Highlight 3">
                </div> -->
            </div>
        </div>
    </section>
    <!-- <section class="gallery-section">
        <div class="gallery-container">
            <h2 class="gallery-title">Chemicals & Glassware Store</h2>
            <div class="gallery-grid" style="display: flex; flex-wrap: wrap; gap: 10px; margin-bottom: 0;">
                <div class="gallery-item">
                    <img src="../assets/img/events/lab.jpg" alt="Highlight 1" style="height: 291px;">
                </div>
                <div class="gallery-item">
                    <img src="../assets/img/events/lab1.jpg" alt="Highlight 2">
                </div>
                <div class="gallery-item">
                    <img src="../assets/img/events/lab2.jpg" alt="Highlight 3">
                </div>
                <div class="gallery-item">
                    <img src="../assets/img/events/lab3.jpg" alt="Highlight 3" style="height: 291px;">
                </div>
                <div class="gallery-item">
                    <img src="../assets/img/events/lab4.jpg" alt="Highlight 3">
                </div>
                <div class="gallery-item">
                    <img src="../assets/img/events/lab6.jpg" alt="Highlight 3">
                </div>


            </div>
        </div>
    </section> -->
    <section class="gallery-section">
        <div class="gallery-container">
            <h2 class="gallery-title">Greenary & Play Ground</h2>
            <div class="gallery-grid" style="display: flex; flex-wrap: wrap; gap: 10px; margin-bottom: 0;">
                <div class="gallery-item">
                    <img src="../assets/img/events/gren.jpg" alt="Highlight 1" style="height: 290px;
">
                </div>
                <div class="gallery-item">
                    <img src="../assets/img/events/gren1.jpg" alt="Highlight 2" style="height: 290px;">
                </div>
                <div class="gallery-item">
                    <img src="../assets/img/events/gren2.jpg" alt="Highlight 3" style="height: 290px;">
                </div>
                <div class="gallery-item">
                    <img src="../assets/img/events/gren3.jpg" alt="Highlight 3" style="height: 290px;">
                </div>
                <div class="gallery-item">
                    <img src="../assets/img/gallery/pg1.jpg" alt="Highlight 3" style="height: 290px;">
                </div>
                <div class="gallery-item">
                    <img src="../assets/img/gallery/pg2.jpg" alt="Highlight 3" style="height: 290px;">
                </div>
                <div class="gallery-item">
                    <img src="../assets/img/gallery/pg3.jpg" alt="Highlight 3" style="height: 290px;">
                </div>
                <div class="gallery-item">
                    <img src="../assets/img/gallery/pg4.jpg" alt="Highlight 3" style="height: 290px;">
                </div>

           
                <!-- <div class="gallery-item">
                    <img src="../assets/img/events/lab4.jpg" alt="Highlight 3">
                </div>
                <div class="gallery-item">
                    <img src="../assets/img/events/lab6.jpg" alt="Highlight 3">
                </div> -->
            </div>
        </div>
    </section>
    <section class="gallery-section">
        <div class="gallery-container">
            <h2 class="gallery-title">Solar Panels</h2>
            <div class="gallery-grid" style="display: flex; flex-wrap: wrap; gap: 10px; margin-bottom: 0;">
                <div class="gallery-item">
                    <img src="../assets/img/events/solar.jpg" alt="Highlight 1" style="height: 291px;">
                </div>
                <div class="gallery-item">
                    <img src="../assets/img/events/solar1.jpg" alt="Highlight 2" style="height: 291px;">
                </div>
                <!-- <div class="gallery-item">
                    <img src="../assets/img/events/lab2.jpg" alt="Highlight 3">
                </div>
                <div class="gallery-item">
                    <img src="../assets/img/events/lab3.jpg" alt="Highlight 3" style="height: 291px;">
                </div>
                <div class="gallery-item">
                    <img src="../assets/img/events/lab4.jpg" alt="Highlight 3">
                </div>
                <div class="gallery-item">
                    <img src="../assets/img/events/lab6.jpg" alt="Highlight 3">
                </div> -->


            </div>
        </div>
    </section>
    <section class="gallery-section">
        <div class="gallery-container">
            <h2 class="gallery-title">RO Plant</h2>
            <div class="gallery-grid" style="display: flex; flex-wrap: wrap; gap: 10px; margin-bottom: 0;">
                <div class="gallery-item">
                    <img src="../assets/img/events/ro.jpg" alt="Highlight 1" style="height: 291px;">
                </div>
                <!-- <div class="gallery-item">
                    <img src="../assets/img/events/lab1.jpg" alt="Highlight 2">
                </div> -->
                <!-- <div class="gallery-item">
                    <img src="../assets/img/events/lab2.jpg" alt="Highlight 3">
                </div>
                <div class="gallery-item">
                    <img src="../assets/img/events/lab3.jpg" alt="Highlight 3" style="height: 291px;">
                </div>
                <div class="gallery-item">
                    <img src="../assets/img/events/lab4.jpg" alt="Highlight 3">
                </div>
                <div class="gallery-item">
                    <img src="../assets/img/events/lab6.jpg" alt="Highlight 3">
                </div> -->


            </div>
        </div>
    </section>
    <section class="gallery-section">
        <div class="gallery-container">
            <h2 class="gallery-title">Canteen</h2>
            <div class="gallery-grid" style="display: flex; flex-wrap: wrap; gap: 10px; margin-bottom: 0;">
                <div class="gallery-item">
                    <img src="../assets/img/events/can.jpeg" alt="Highlight 1" style="height: 290px;">
                </div>
                <div class="gallery-item">
                    <img src="../assets/img/events/can1.jpeg" alt="Highlight 2" style="height: 290px;">
                </div>
                <div class="gallery-item">
                    <img src="../assets/img/events/can2.jpeg" alt="Highlight 3" style="height: 290px;">
                </div>
                <!-- <div class="gallery-item">
                    <img src="../assets/img/events/lab3.jpg" alt="Highlight 3" style="height: 291px;">
                </div> -->
                <!-- <div class="gallery-item">
                    <img src="../assets/img/events/lab4.jpg" alt="Highlight 3">
                </div>
                <div class="gallery-item">
                    <img src="../assets/img/events/lab6.jpg" alt="Highlight 3">
                </div> -->


            </div>
        </div>
    </section>
</main>