<main style="overflow-x: hidden;">

    <!-- breadcrumb start -->
    <section class="breadcrumb bg_img ul_li" data-background="../assets/img/bg/banner.png">
        <div class="container">
            <div class="breadcrumb__content text-center">
                <h2 class="breadcrumb__title">Our Bus Facilities</h2>
                <p class="breadcrumb__desc">VJ's College provides well-maintained and reliable bus services to ensure
                    safe and convenient transportation for students and staff across various routes.</p>
            </div>
        </div>
    </section>
    <!-- breadcrumb end -->
    <section class="bus-routes">
        <div class="container">
            <h2 class="title" style="color:#60060f;">Our Bus Routes</h2>

            <!-- BUS A -->
            <div class="bus-card">
                <img src="../assets/img/about/busA.jpg" alt="Bus A">
                <div class="bus-content">
                    <h3>BUS - A</h3>
                    <p>DULLA – YEDITHA – MANDAPETA – PEDAPARTHI REVU – PEDAPARTHI – LOLLA – RAYAVARAM –
                        RAYAVARAM-1 – KOMARIPALEM CENTER – TOSSIPUDI CENTER – BALABADRAPURAM VANTENA – BALA VARAM –
                        DONTAMURU – ACHUTAPURAM – PALLA KADIYAM – MANGAYAMMA CETER – ST RAJAPURAM – RAJANAGARAM –
                        COLLEGE </p>
                </div>
            </div>

            <!-- BUS C -->
            <div class="bus-card">
                <img src="../assets/img/about/busC.jpg" alt="Bus C">
                <div class="bus-content">
                    <h3>BUS - C</h3>
                    <p>JAGGAMPETA – RAGAMPETA – GANDEPALLI – MURARI – CHAKDARABANDAM – DIWANCHERUVU – COLLEGE </p>
                </div>
            </div>

            <!-- BUS D -->
            <div class="bus-card">
                <img src="../assets/img/about/busD.jpg" alt="Bus D" style="height: 209px;">
                <div class="bus-content">
                    <h3>BUS - D</h3>
                    <p>KUTUKULURU – RAMAVARAM – POLAMURU – ANAPARTHI SAVARAM – ANAPRTHI – DWARAPUDI – CHINNA DWARAPUDI –
                        KESAVARAM – JEGURUPADU – KADIYAM – VEMAGIRI – COLLEGE</p>
                </div>
            </div>

            <!-- BUS E -->
            <div class="bus-card">
                <img src="../assets/img/about/busE.jpg" alt="Bus E">
                <div class="bus-content">
                    <h3>BUS - E</h3>
                    <p>CHAGALLU – UNAGATLA – DARARAM GATE – NIDADHAVOLU GATE – SAMISRA GUDEM – MADDURU –
                        VIJJESWARAM – VADAPALLI – RJY GODAVARI GATTU – AKIRA HOSPITAL – SEETHAMPETA – MALLAYAPETA –
                        KWARI MARKET – KONTHAMURU – COLLEGE</p>
                </div>
            </div>

            <!-- BUS F -->
            <div class="bus-card">
                <img src="../assets/img/about/busF.jpg" alt="Bus F">
                <div class="bus-content">
                    <h3>BUS - F</h3>
                    <p>KOTIPALLI BUS STAND – STADIUM – SWAMY ASHOKA – JAMPETA – JAMPETA HOSTEL – ANAND REGENCY –
                        Y-JUNCTION –
                        ARTS COLLEGE – HITECH BUS STAND – R.K MATAM – BRUTHERN CHURCH – RAJA THEATER – KWARI MARKET –
                        SUBBARAO NAGAR – RTO OFFICE – KIA SHOWROOM – LALACHERUVU – DIWANCHERUVU – COLLEGE</p>
                </div>
            </div>

            <!-- BUS G -->
            <div class="bus-card">
                <img src="../assets/img/about/busG.jpg" alt="Bus G">
                <div class="bus-content">
                    <h3>BUS - G</h3>
                    <p>VADDIPARRU – PULIDHINDI – ATREYAPURAM – UBHALANKA – RAVULAPALEM – JONNADA –
                        MOOLASTANAM – CHOPPELLA – CHEMUDULANKA – POTTILANKA – KADIYAPULANKA – VEMAGIRI – COLLEGE</p>
                </div>
            </div>

            <!-- BUS H -->
            <div class="bus-card">
                <img src="../assets/img/about/busH.jpg" alt="Bus H">
                <div class="bus-content">
                    <h3>BUS - H</h3>
                    <p>PRAKKILANKA – TALLAPUDI – VEGESWARA PURAM – BALLIPADU – PEDDEVAM – DHARMAVARAM –
                        KAPAVARAM – DOMMERU – KOVVURU – SHELTON – BOLLINENI HOSPITAL – JAGRUTHI B BANK – AVA ROAD BUNK –
                        LALACHERUVU – COLLEGE </p>
                </div>
            </div>

            <!-- BUS I -->
            <div class="bus-card">
                <img src="../assets/img/about/busI.jpg" alt="Bus I">
                <div class="bus-content">
                    <h3>BUS - I</h3>
                    <p>KOTIPALLI BUS STOP – RAILWAY STATION – ILTD JUNCTION – DOWLESWARAM BARRAGE – BOMMURU CURRENT OFFICE – HUKKUMPETA –
                        MORAMPUDI PETROL BUNK – RTC COMPLEX – JN ROAD – LALCHERUVU – DIWANCHERUVU – COLLEGE </p>
                </div>
            </div>
        </div>
    </section>
</main>