<main style="overflow-x: hidden;">

    <!-- breadcrumb start -->
    <section class="breadcrumb bg_img ul_li" data-background="../assets/img/bg/banner.png">
        <div class="container">
            <div class="breadcrumb__content text-center">
                <h2 class="breadcrumb__title">Contact Us</h2>
                <p class="breadcrumb__desc">Get in Touch with Our VJ's College in Pharmacy</p>
            </div>
        </div>
    </section>
    <!-- breadcrumb end -->
    <!-- contact start -->
    <section class="contact_section section_space" data-bg-color="#F1F1E9">
        <div class="container">
            <div class="row justify-content-lg-between mt-none-30">
                <div class="col-lg-7 mt-30">
                    <div class="contact_form mb-0">
                        <h3 class="title">Send us A Message👍🏻</h3>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="input_title" for="input_name">Name:
                                    </label>
                                    <input id="input_name" class="form-control" type="text" name="name"
                                        placeholder="Enter Name" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="input_title" for="input_email">Your Email
                                    </label>
                                    <input id="input_email" class="form-control" type="email" name="email"
                                        placeholder="Enter Email" required>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="input_title" for="input_phone">Your Phone Number</label>
                                    <input id="input_phone" class="form-control" type="tel" name="phone"
                                        placeholder="Enter Contact number">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="input_title" for="input_textarea">Message</label>
                                    <textarea id="input_textarea" class="form-control" name="message"
                                        placeholder="How can we help you?"></textarea>
                                </div>
                                <button type="submit" class="thm-btn">Send Message
                                    <span><svg width="22" height="22" viewBox="0 0 22 22" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M13.0364 2.63798C11.6702 1.79536 10.0512 1.33203 8.37891 1.33203C3.82654 1.33203 0 4.72368 0 9.06641C0 10.589 0.473 12.0486 1.37148 13.3092L0.116359 17.2497C-0.0162422 17.6659 0.295539 18.0898 0.730598 18.0898C0.83007 18.0898 0.930188 18.0669 1.02257 18.0198L4.83957 16.0791C4.99413 16.1456 5.15062 16.2076 5.3087 16.265C4.42496 14.8857 3.95312 13.3023 3.95312 11.6445C3.95312 6.70755 8.10726 2.91208 13.0364 2.63798Z"
                                                fill="#170006"></path>
                                            <path
                                                d="M20.6285 15.8873C21.527 14.6267 22 13.1671 22 11.6445C22 7.30022 18.1718 3.91016 13.6211 3.91016C9.06873 3.91016 5.24219 7.30181 5.24219 11.6445C5.24219 15.9888 9.07036 19.3789 13.6211 19.3789C14.8421 19.3789 16.0588 19.1301 17.1602 18.6571L20.9774 20.598C21.2091 20.7157 21.4889 20.6829 21.6869 20.5146C21.885 20.3463 21.9626 20.0755 21.8837 19.8278L20.6285 15.8873ZM11 12.2891C10.644 12.2891 10.3555 12.0005 10.3555 11.6445C10.3555 11.2886 10.644 11 11 11C11.356 11 11.6445 11.2886 11.6445 11.6445C11.6445 12.0005 11.356 12.2891 11 12.2891ZM13.5781 12.2891C13.2222 12.2891 12.9336 12.0005 12.9336 11.6445C12.9336 11.2886 13.2222 11 13.5781 11C13.9341 11 14.2227 11.2886 14.2227 11.6445C14.2227 12.0005 13.9341 12.2891 13.5781 12.2891ZM16.1562 12.2891C15.8003 12.2891 15.5117 12.0005 15.5117 11.6445C15.5117 11.2886 15.8003 11 16.1562 11C16.5122 11 16.8008 11.2886 16.8008 11.6445C16.8008 12.0005 16.5122 12.2891 16.1562 12.2891Z"
                                                fill="#170006"></path>
                                        </svg></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 mt-30">
                    <div class="gmap_canvas ps-lg-5">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3814.754003616048!2d81.8588112!3d17.0357323!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a37a3bc25928ff5%3A0xb9a8dea2a879e326!2sVJ&#39;s%20College%20of%20Pharmacy!5e0!3m2!1sen!2sin!4v1750161524575!5m2!1sen!2sin"></iframe>
                    </div>
                </div>
            </div>
            <div class="contact_info_box_inner pt-110">
                <h2 class="text-center">Let us know how we can help</h2>
            </div>
            <div class="contact_info_box row mt-none-30">
                <div class="col-lg-4 col-md-6 col-sm-12 mt-30">
                    <div class="contact_iconbox">
                        <div class="iconbox_icon">
                            <img src="../assets/img/icon/calling-icon01.png" alt="Calling SVG Icon"
                                style="height: 32px;">
                        </div>
                        <div class="iconbox_content">
                            <h2 class="iconbox_title">Call Us On</h2>
                            <p>Timings: 9:00AM to 4:00PM</p>
                            <h3> 9951780088 <br> 9951780066 <br> 9951780077</h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 mt-30">
                    <div class="contact_iconbox" style="height: 286px;">
                        <div class="iconbox_icon">
                            <img src="../assets/img/icon/sms-edit.png" alt="SMS SVG Icon" style="height: 32px;">
                        </div>
                        <div class="iconbox_content">
                            <h2 class="iconbox_title">Email Us</h2>
                            <p>Contact to our Friendly team.</p>
                            <h3>📍 Location<br>vjsedu&#64;gmail.com</h3>
                            <h3>VJ's College of Pharmacy</h3>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mt-30">
                    <div class="contact_iconbox">
                        <div class="iconbox_icon">
                            <img src="../assets/img/icon/location.png" alt="Location SVG Icon" style="height: 32px;">
                        </div>
                        <div class="iconbox_content">
                            <h2 class="iconbox_title">Our Location</h2>
                            <p>D.No. 3-149. D.B.V Raju Township, Diwancheruvu Rajahmundry, Andhra Pradesh - 533296,
                                India.</p>
                            <h3>Diwancheruvu Rajahmundry</h3>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- contact end -->

</main>