<section class="gallery-section" style="margin-top: 149px;">
        <div class="container">
                <h2 class="gallery-title">
                        NSS Activities</h2>
                <div class="gallery-grid">
                        <a href="../assets/img/gallery/NSSActivities/n1.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/gallery/NSSActivities/n1.jpg" alt="Gallery Image 8"
                                        style="height: 188px;"></a>
                        <a href="../assets/img/gallery/NSSActivities/n2.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/gallery/NSSActivities/n2.jpg" alt="Gallery Image 8"
                                        style="height: 188px;"></a>
                        <a href="../assets/img/gallery/NSSActivities/n3.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/gallery/NSSActivities/n3.jpg" alt="Gallery Image 8"
                                        style="height: 188px;"></a>



                        <a href="../assets/img/about/nfc.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/nfc.jpg" alt="Gallery Image 1"
                                        style="height: 188px;"></a>
                        <a href="../assets/img/about/nfc1.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/nfc1.jpg" alt="Gallery Image 2"></a>
                        <a href="../assets/img/about/nfc2.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/nfc2.jpg" alt="Gallery Image 3"></a>
                        <a href="../assets/img/about/nfc3.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/nfc3.jpg" alt="Gallery Image 4"></a>

                        <a href="../assets/img/about/nfc5.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/nfc5.jpg" alt="Gallery Image 6"></a>
                        <a href="../assets/img/about/nfc6.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/nfc6.jpg" alt="Gallery Image 7"></a>
                        <a href="../assets/img/about/nfc7.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/nfc7.jpg" alt="Gallery Image 8"></a>
                        <a href="../assets/img/about/nfc8.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/nfc8.jpg" alt="Gallery Image 8"></a>
                        <a href="../assets/img/about/nfc9.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/nfc9.jpg" alt="Gallery Image 8"></a>
                        <a href="../assets/img/about/nfc10.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/nfc10.jpg" alt="Gallery Image 8"
                                        style="height: 235px;"></a>
                        <a href="../assets/img/about/nfc11.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/nfc11.jpg" alt="Gallery Image 8"
                                        style="height: 235px;"></a>
                        <a href="../assets/img/about/nfc12.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/nfc12.jpg" alt="Gallery Image 8"></a>
                        <a href="../assets/img/about/nfc13.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/nfc13.jpg" alt="Gallery Image 8"
                                        style="height: 235px;"></a>
                        <a href="../assets/img/about/nfc14.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/nfc14.jpg" alt="Gallery Image 8"
                                        style="height: 235px;"></a>
                        <a href="../assets/img/about/nfc15.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/nfc15.jpg" alt="Gallery Image 8"
                                        style="height: 188px;"></a>
                        <a href="../assets/img/about/nfc17.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/nfc17.jpg" alt="Gallery Image 8"
                                        style="height: 188px;"></a>
                        <a href="../assets/img/about/nfc18.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/nfc18.jpg" alt="Gallery Image 8"
                                        style="height: 188px;"></a>
                        <a href="../assets/img/about/nfc19.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/nfc19.jpg" alt="Gallery Image 8"
                                        style="height: 188px;"></a>
                        <a href="../assets/img/about/nfc20.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/about/nfc20.jpg" alt="Gallery Image 8"
                                        style="height: 188px;"></a>

                        <a href="../assets/img/gallery/NSSActivities/DSC05964.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/gallery/NSSActivities/DSC05964.jpg" alt="Gallery Image 8"
                                        style="height: 188px;"></a>
                        <a href="../assets/img/gallery/NSSActivities/1.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/gallery/NSSActivities/1.jpg" alt="Gallery Image 8"
                                        style="height: 188px;"></a>
                        <a href="../assets/img/gallery/NSSActivities/2.jpg" data-lightbox="vj-gallery"><img
                                        src="../assets/img/gallery/NSSActivities/2.jpg" alt="Gallery Image 8"
                                        style="height: 188px;"></a>


                </div>



        </div>
</section>