<main style="overflow-x: hidden;">

    <!-- breadcrumb start -->
    <section class="breadcrumb bg_img ul_li" data-background="../assets/img/bg/banner.png">
        <div class="container">
            <div class="breadcrumb__content text-center">
                <h2 class="breadcrumb__title">Our Faculty</h2>
                <p class="breadcrumb__desc">VJ's college faculty are renowned leaders in their fields, extraordinary
                    teachers and dedicated mentors.</p>
            </div>
        </div>
    </section>
    <!-- breadcrumb end -->
    <section class="vj-faculty-section">
        <p class="vj-faculty-intro">
            VJ's College of Pharmacy offers a wide range of pharmacy courses taught by an experienced and competent
            faculty. Our team of educators is provided with excellent facilities, resources and customised teaching aids
            to make the courses more relevant, dynamic, interactive and learner-friendly.
        </p>
        <h2 class="vj-faculty-title">Our Faculty</h2>

        <div class="vj-faculty-container">
            <!-- Column 1 -->
            <div class="vj-faculty-column bounce-left">
                <div class="vj-faculty-entry">Dr. D. Narendra, M.Pharm., Ph.D <span>Principal</span></div>
                <div class="vj-faculty-entry">Dr. K. Srinivas, M.Pharm., Ph.D <span>Dean</span></div>
                <div class="vj-faculty-entry">Dr. N.V.V. Jagan Mohan Reddy, M.Pharm., Ph.D <span>Professor</span></div>
                <div class="vj-faculty-entry">Dr. N.V.S. Viswanadha Murty, M.Pharm., Ph.D <span>Professor</span></div>
                <div class="vj-faculty-entry">Dr. M. Lakshmi Prasanna, M.Pharm., Ph.D <span>Professor</span></div>

                <div class="vj-faculty-entry">Mr. Maruti Valluri, M.Pharm <span>Asso. Professor</span></div>
                <div class="vj-faculty-entry">Mrs. G. Durga Madhuri, M.Pharm <span>Asso. Professor</span></div>
                <div class="vj-faculty-entry">Mrs. G. Vijayalakshmi, M.Pharm (Ph.D) <span>Asso. Professor</span>
                </div>
                <div class="vj-faculty-entry">Mr. Prasad Tekumudi, M.Pharm <span>Asso. Professor</span></div>
                <div class="vj-faculty-entry">Mrs. A. Sravani Ratnam, M.Pharm (Ph.D) <span>Asso. Professor</span>
                </div>
                <div class="vj-faculty-entry">Mrs. S. Naga Chakraveni, M.Pharm <span>Asso. Professor</span></div>
                <div class="vj-faculty-entry">Ms. G. Sireesha, M.Pharm (Ph.D) <span>Asso. Professor</span></div>
                <div class="vj-faculty-entry">Mrs. K.S. Ganga Sravanthi, M.Pharm <span>Asso. Professor</span></div>
                <div class="vj-faculty-entry">Mrs. M. Laxmi Priya, M.Pharm <span>Asso. Professor</span></div>
                <div class="vj-faculty-entry">Mrs. K. Lakshmi Sujatha, M.Pharm <span>Asso. Professor</span></div>
                <div class="vj-faculty-entry">Mrs. K. Sravani Devi, M.Pharm (Ph.D) <span>Asso. Professor</span>
                </div>
                <div class="vj-faculty-entry">Mr. B. Eswari, M.Pharm (Ph.D) <span>Asso. Professor</span></div>
                <div class="vj-faculty-entry">Mrs. K.V. Naga Lakshmi, M.Pharm (Ph.D) <span>Asso. Professor</span></div>
                <div class="vj-faculty-entry">Mrs. Anuradha Nerella, M.Pharm <span>Asso. Professor</span></div>
                <div class="vj-faculty-entry">Mrs. A. Manga Devi, M.Pharm (Ph.D) <span>Asso. Professor</span></div>

            </div>

            <!-- Column 2 -->
            <div class="vj-faculty-column">
                <div class="vj-faculty-entry">Ms. M. Jaya Lakshmi, M.Pharm <span>Asso. Professor</span></div>
                <div class="vj-faculty-entry">Mrs. V. Mary Bharathi, M.Pharm <span>Asso. Professor</span></div>
                <div class="vj-faculty-entry">Mrs. M. Varshini, M.Pharm (Ph.D) <span>Asso. Professor</span></div>
                <div class="vj-faculty-entry">Mr. M. Kesava Siva Krishna, M.Pharm (Ph.D) <span>Associate
                        Professor</span></div>
                <div class="vj-faculty-entry">Mrs. M. Parvathi, M.Pharm <span>Asso. Professor</span></div>

                <div class="vj-faculty-entry">Mrs. M. Deepika, M.Pharm <span>Asst.Prof</span></div>
                <div class="vj-faculty-entry">Ms. V. Swathi, M.Pharm (Ph.D) <span>Asst.Prof</span></div>
                <div class="vj-faculty-entry">Mrs. M. Pavan Kalyan, M.Pharm (Ph.D) <span>Asst.Prof</span>
                </div>
                <div class="vj-faculty-entry">Ms. J.R.V. Prasanna, M.Pharm <span>Asst.Prof</span></div>
                <div class="vj-faculty-entry">Mrs. D.D.L. Narayanamma, M.Pharm <span>Asst.Prof</span></div>
                <div class="vj-faculty-entry">Mrs. S. Lakshmi Priyanka, M.Pharm <span>Asst.Prof</span></div>
                <div class="vj-faculty-entry">Ms. O. Sowjanya, M.Pharm <span>Asst.Prof</span></div>
                <div class="vj-faculty-entry">Mrs. E. Vandana, M.Pharm <span>Asst.Prof</span></div>
                <div class="vj-faculty-entry">Mr. S. Durga Prasad Reddy, M.Pharm (Ph.D) <span>Asst.Prof</span>
                </div>
                <div class="vj-faculty-entry">Ms. Ch. Ramya, M.Pharm <span>Asst.Prof</span></div>
                <div class="vj-faculty-entry">Ms. D. Mounika, M.Pharm (Ph.D) <span>Asst.Prof</span></div>
                <div class="vj-faculty-entry">Dr. S. Swarna Raj, Pharm.D <span>Asst.Prof</span></div>
                <div class="vj-faculty-entry">Mrs. S. Satya Suma, M.Pharm <span>Asst.Prof</span></div>
                <div class="vj-faculty-entry">Mrs. P. Satya Veni, M.Pharm (Ph.D) <span>Asst.Prof</span></div>
            </div>
        </div>
    </section>
</main>