<main style="overflow-x: hidden;">

    <!-- breadcrumb start -->
    <section class="breadcrumb bg_img ul_li" data-background="../assets/img/bg/banner.png">
        <div class="container">
            <div class="breadcrumb__content text-center">
                <h2 class="breadcrumb__title">Our Events & Gallery</h2>
                <p class="breadcrumb__desc">Your future is waiting for you.We Are Committed To
                    Excellence In Pharmacy
                    Education</p>
            </div>
        </div>
    </section>
    <div class="container">
        <h1>Gallery</h1>
        <!-- <div class="image-section">
            <img src="../assets/img/logo/clg.jpg" alt="Internship Group Photo" style="height: 296px;">
        </div> -->
        <div class="grid-container">
            <a href="conferences" class="grid-button"
                style="background: linear-gradient(45deg, #60060f, #000000);">Conferences</a>

            <a href="sports" class="grid-button"
                style="background: linear-gradient(45deg, #006d6a, #c03f3f);">Sports</a>

            <a href="culturals" class="grid-button"
                style="background: linear-gradient(45deg, #15237e, #60572ac4);">Cultural Events</a>

            <!-- <a href="videos" class="grid-button"
                style="background: linear-gradient(45deg, #186115, #e7b00bc7);">Videos</a> -->

            <a href="nss-activities" class="grid-button"
                style="background: linear-gradient(45deg, #4d4949c2, #f90d26);">NSS Activities</a>

            <a href="news-articles" class="grid-button"
                style="background: linear-gradient(18deg, #000000, rgb(169 165 165 / 63%));" target="_blank">News
                Articles</a>
        </div>

    </div>
    <section class="interactive-gallery-section">
        <h1 class="gallery-main-heading">Health Awareness Calendar GOI</h1>

        <div class="card-container">

            <div class="interactive-card">
                <div class="card-content-wrapper">
                    <div class="card-front">
                        <img src="../assets/img/events/calender1.jpg" alt="January Events">
                        <h3 class="card-title">January Month Calendar GOI</h3>
                    </div>
                    <div class="card-back">
                        <h4 class="month-heading">January</h4>
                        <div class="table-scroll-wrapper">
                            <table class="event-table">
                                <thead>
                                    <tr>
                                        <th class="table-date-col">Date</th>
                                        <th class="table-event-col">Day</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="table-date-col">12 January</td>
                                        <td class="table-event-col">National Youth Day</td>
                                    </tr>
                                    <tr>
                                        <td class="table-date-col">30 January</td>
                                        <td class="table-event-col">World Leprosy Day (Anti-Leprosy Day)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-overlay card-overlay-left"></div>
                    <div class="card-overlay card-overlay-right"></div>
                </div>
            </div>

            <div class="interactive-card">
                <div class="card-content-wrapper">
                    <div class="card-front">
                        <img src="../assets/img/events/feb.jpg" alt="February Events">
                        <h3 class="card-title">February Month Calendar GOI</h3>
                    </div>
                    <div class="card-back">
                        <h4 class="month-heading">February</h4>
                        <div class="table-scroll-wrapper">
                            <table class="event-table">
                                <thead>
                                    <tr>
                                        <th class="table-date-col">Date</th>
                                        <th class="table-event-col">Day</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="table-date-col">04 February</td>
                                        <td class="table-event-col">World Cancer Day</td>
                                    </tr>
                                    <tr>
                                        <td class="table-date-col">06 February</td>
                                        <td class="table-event-col">International Day of Zero Tolerance to Female
                                            Genital Mutilation</td>
                                    </tr>
                                    <tr>
                                        <td class="table-date-col">6–13 February</td>
                                        <td class="table-event-col">Pregnancy Awareness Week</td>
                                    </tr>
                                    <tr>
                                        <td class="table-date-col">10 February</td>
                                        <td class="table-event-col">National Deworming Day, International Epilepsy Day
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table-date-col">12 February</td>
                                        <td class="table-event-col">Sexual and Reproduction Health Awareness Day</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-overlay card-overlay-left"></div>
                    <div class="card-overlay card-overlay-right"></div>
                </div>
            </div>

            <div class="interactive-card">
                <div class="card-content-wrapper">
                    <div class="card-front">
                        <img src="../assets/img/events/calender.jpg" alt="March Events">
                        <h3 class="card-title">March Month Calendar GOI</h3>
                    </div>
                    <div class="card-back">
                        <h4 class="month-heading">March</h4>
                        <div class="table-scroll-wrapper">
                            <table class="event-table">
                                <thead>
                                    <tr>
                                        <th class="table-date-col">Date</th>
                                        <th class="table-event-col">Day</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="table-date-col">3 March</td>
                                        <td class="table-event-col">World Hearing Day, World Birth Defects Day</td>
                                    </tr>
                                    <tr>
                                        <td class="table-date-col">4 March</td>
                                        <td class="table-event-col">National Safety Day, World Obesity Day</td>
                                    </tr>
                                    <tr>
                                        <td class="table-date-col">10 to 16 </td>
                                        <td class="table-event-col">World Glaucoma Week</td>
                                    </tr>
                                    <tr>
                                        <td class="table-date-col">8 March</td>
                                        <td class="table-event-col">International Women's Day</td>
                                    </tr>
                                    <tr>
                                        <td class="table-date-col">12 March</td>
                                        <td class="table-event-col">World Glaucoma Day, No Smoking Day</td>
                                    </tr>
                                    <tr>
                                        <td class="table-date-col">13 March </td>
                                        <td class="table-event-col">World Kidney Day</td>
                                    </tr>
                                    <tr>
                                        <td class="table-date-col">16 March</td>
                                        <td class="table-event-col">Measles Immunization Day</td>
                                    </tr>
                                    <tr>
                                        <td class="table-date-col">20 March</td>
                                        <td class="table-event-col">World Oral Health Day, World Head Injury Awareness
                                            Day</td>
                                    </tr>
                                    <tr>
                                        <td class="table-date-col">21 March</td>
                                        <td class="table-event-col">World Down Syndrome</td>
                                    </tr>
                                    <tr>
                                        <td class="table-date-col">22 March</td>
                                        <td class="table-event-col">World Water Day, World Disable Day</td>
                                    </tr>
                                    <tr>
                                        <td class="table-date-col">24 March</td>
                                        <td class="table-event-col">World TB Day</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-overlay card-overlay-left"></div>
                    <div class="card-overlay card-overlay-right"></div>
                </div>
            </div>

            <div class="interactive-card">
                <div class="card-content-wrapper">
                    <div class="card-front">
                        <img src="../assets/img/events/april.jpg" alt="April Events">
                        <h3 class="card-title">April Month Calendar GOI</h3>
                    </div>
                    <div class="card-back">
                        <h4 class="month-heading">April</h4>
                        <div class="table-scroll-wrapper">
                            <table class="event-table">
                                <thead>
                                    <tr>
                                        <th class="table-date-col">Date</th>
                                        <th class="table-event-col">Day</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="table-date-col">2 April</td>
                                        <td class="table-event-col">World Autism awareness Day</td>
                                    </tr>
                                    <tr>
                                        <td class="table-date-col">7 April</td>
                                        <td class="table-event-col">World Health Day</td>
                                    </tr>
                                    <tr>
                                        <td class="table-date-col">11 April</td>
                                        <td class="table-event-col">World Parkinson’s Day</td>
                                    </tr>
                                    <tr>
                                        <td class="table-date-col">11 April</td>
                                        <td class="table-event-col">National safe motherhood Day</td>
                                    </tr>
                                    <tr>
                                        <td class="table-date-col">17 April</td>
                                        <td class="table-event-col">World Haemophilia Day.</td>
                                    </tr>
                                    <tr>
                                        <td class="table-date-col">19 April</td>
                                        <td class="table-event-col">World Liver Day</td>
                                    </tr>
                                    <tr>
                                        <td class="table-date-col">22 April</td>
                                        <td class="table-event-col">World Earth Day</td>
                                    </tr>
                                    <tr>
                                        <td class="table-date-col">25 April</td>
                                        <td class="table-event-col">World Malaria Day.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-overlay card-overlay-left"></div>
                    <div class="card-overlay card-overlay-right"></div>
                </div>
            </div>

            <div class="interactive-card">
                <div class="card-content-wrapper">
                    <div class="card-front">
                        <img src="../assets/img/events/may.jpg" alt="May Events">
                        <h3 class="card-title">May Month Calendar GOI</h3>
                    </div>
                    <div class="card-back">
                        <h4 class="month-heading">May </h4>
                        <div class="table-scroll-wrapper">
                            <table class="event-table">
                                <thead>
                                    <tr>
                                        <th class="table-date-col">Date</th>
                                        <th class="table-event-col">Day</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="table-date-col">Second Sunday Of May</td>
                                        <td class="table-event-col">Mother’s Day</td>
                                    </tr>
                                    <tr>
                                        <td class="table-date-col">05 May</td>
                                        <td class="table-event-col">World Asthma Day</td>
                                    </tr>
                                    <tr>
                                        <td class="table-date-col">05 May</td>
                                        <td class="table-event-col">World Hand Hygiene Day</td>
                                    </tr>
                                    <tr>
                                        <td class="table-date-col">08 May</td>
                                        <td class="table-event-col">World Thalassemia Day</td>
                                    </tr>
                                    <tr>
                                        <td class="table-date-col">08 May</td>
                                        <td class="table-event-col">World Thalassemia Day</td>
                                    </tr>
                                    <tr>
                                        <td class="table-date-col">08 May</td>
                                        <td class="table-event-col">World Red-cross Day</td>
                                    </tr>
                                    <tr>
                                        <td class="table-date-col">12 May</td>
                                        <td class="table-event-col">International Awareness Day for Chronic
                                            Immunological and Neurological Diseases</td>
                                    </tr>
                                    <tr>
                                        <td class="table-date-col">12 May</td>
                                        <td class="table-event-col">International Nurse's Day</td>
                                    </tr>
                                    <tr>
                                        <td class="table-date-col">16 May</td>
                                        <td class="table-event-col">National Dengue Day</td>
                                    </tr>
                                    <tr>
                                        <td class="table-date-col">17 May</td>
                                        <td class="table-event-col">World Hypertension Day</td>
                                    </tr>
                                    <tr>
                                        <td class="table-date-col">19 May</td>
                                        <td class="table-event-col">World Family Doctor Day</td>
                                    </tr>
                                    <tr>
                                        <td class="table-date-col">28 May</td>
                                        <td class="table-event-col">International Women Health Day</td>
                                    </tr>
                                    <tr>
                                        <td class="table-date-col">30 May(Last wednesday of May)</td>
                                        <td class="table-event-col">World Multiple Sclerosis Day</td>
                                    </tr>
                                    <tr>
                                        <td class="table-date-col">31 May</td>
                                        <td class="table-event-col">Anti-tobacco Day / World no-tobacco Day</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-overlay card-overlay-left"></div>
                    <div class="card-overlay card-overlay-right"></div>
                </div>
            </div>

            <div class="interactive-card">
                <div class="card-content-wrapper">
                    <div class="card-front">
                        <img src="../assets/img/events/june.jpg" alt="June Events">
                        <h3 class="card-title">June Month Calendar GOI</h3>
                    </div>
                    <div class="card-back">
                        <h4 class="month-heading">June</h4>
                        <div class="table-scroll-wrapper">
                            <table class="event-table">
                                <thead>
                                    <tr>
                                        <th class="table-date-col">Date</th>
                                        <th class="table-event-col">Day</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="table-date-col">2 - 8 Jun</td>
                                        <td class="table-event-col">World Heart Rhythm Week</td>
                                    </tr>
                                    <tr>
                                        <td class="table-date-col">05 June </td>
                                        <td class="table-event-col">World Environment Day</td>
                                    </tr>
                                    <tr>
                                        <td class="table-date-col">08 June</td>
                                        <td class="table-event-col">World Brain Tumour Day</td>
                                    </tr>
                                    <tr>
                                        <td class="table-date-col">14 June</td>
                                        <td class="table-event-col">World Blood Donation Day</td>
                                    </tr>
                                    <tr>
                                        <td class="table-date-col">15 June</td>
                                        <td class="table-event-col">World Elder Abuse Awareness Day</td>
                                    </tr>
                                    <tr>
                                        <td class="table-date-col">18 June</td>
                                        <td class="table-event-col">Autistic Pride day</td>
                                    </tr>
                                    <tr>
                                        <td class="table-date-col">25 June</td>
                                        <td class="table-event-col">World Vitiligo Day</td>
                                    </tr>
                                    <tr>
                                        <td class="table-date-col">26 June</td>
                                        <td class="table-event-col">International Day against Drug abuse and Illegal
                                            Trafficking</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-overlay card-overlay-left"></div>
                    <div class="card-overlay card-overlay-right"></div>
                </div>
            </div>

            <div class="interactive-card">
                <div class="card-content-wrapper">
                    <div class="card-front">
                        <img src="../assets/img/events/july.jpg" alt="June Events">
                        <h3 class="card-title">July Month Calendar GOI</h3>
                    </div>
                    <div class="card-back">
                        <h4 class="month-heading">July</h4>
                        <div class="table-scroll-wrapper">
                            <table class="event-table">
                                <thead>
                                    <tr>
                                        <th class="table-date-col">Date</th>
                                        <th class="table-event-col">Day</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="table-date-col">01 July</td>
                                        <td class="table-event-col">National Doctor's Day</td>
                                    </tr>
                                    <tr>
                                        <td class="table-date-col">11 July </td>
                                        <td class="table-event-col">World Population Day</td>
                                    </tr>
                                    <tr>
                                        <td class="table-date-col">28 July</td>
                                        <td class="table-event-col">World Hepatitis Day</td>
                                    </tr>
                                    <tr>
                                        <td class="table-date-col">29 July</td>
                                        <td class="table-event-col">ORS Day</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-overlay card-overlay-left"></div>
                    <div class="card-overlay card-overlay-right"></div>
                </div>
            </div>
            <div class="interactive-card">
                <div class="card-content-wrapper">
                    <div class="card-front">
                        <img src="../assets/img/events/aug.jpg" alt="June Events">
                        <h3 class="card-title">August Month Calendar GOI</h3>
                    </div>
                    <div class="card-back">
                        <h4 class="month-heading">August</h4>
                        <div class="table-scroll-wrapper">
                            <table class="event-table">
                                <thead>
                                    <tr>
                                        <th class="table-date-col">Date</th>
                                        <th class="table-event-col">Day</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="table-date-col">01 to 07 August</td>
                                        <td class="table-event-col">Breast feeding Week </td>
                                    </tr>
                                    <tr>
                                        <td class="table-date-col">01 to 07 August </td>
                                        <td class="table-event-col">Rheumatic Fever and Rheumatic Heart Disease
                                            Awareness Week</td>
                                    </tr>
                                    <tr>
                                        <td class="table-date-col">20 August</td>
                                        <td class="table-event-col">World Mosquito Day</td>
                                    </tr>
                                    <tr>
                                        <td class="table-date-col">25 Aug to 08 September</td>
                                        <td class="table-event-col">National Eye Donation Fortnight</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-overlay card-overlay-left"></div>
                    <div class="card-overlay card-overlay-right"></div>
                </div>
            </div>

            <div class="interactive-card">
                <div class="card-content-wrapper">
                    <div class="card-front">
                        <img src="../assets/img/events/sep.jpg" alt="June Events">
                        <h3 class="card-title">September Month Calendar GOI</h3>
                    </div>
                    <div class="card-back">
                        <h4 class="month-heading">September</h4>
                        <div class="table-scroll-wrapper">
                            <table class="event-table">
                                <thead>
                                    <tr>
                                        <th class="table-date-col">Date</th>
                                        <th class="table-event-col">Day</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>01 to 07 September</td>
                                        <td>Nutrition Week</td>
                                    </tr>
                                    <tr>
                                        <td>05 September</td>
                                        <td>Spinal Cord Injury Day</td>
                                    </tr>
                                    <tr>
                                        <td>09 September</td>
                                        <td>International Foetal Alcohol Syndrome Day</td>
                                    </tr>
                                    <tr>
                                        <td>10 September</td>
                                        <td>World Suicide Prevention Day, International Gynaecological Health Day</td>
                                    </tr>
                                    <tr>
                                        <td>17 September</td>
                                        <td>World Patient Safety Day</td>
                                    </tr>
                                    <tr>
                                        <td>19 September</td>
                                        <td>World Marrow Donor Day</td>
                                    </tr>
                                    <tr>
                                        <td>21 September</td>
                                        <td>World Alzheimer’s Day</td>
                                    </tr>
                                    <tr>
                                        <td>23 - 29 September</td>
                                        <td>World Retina Week</td>
                                    </tr>
                                    <tr>
                                        <td>25 September</td>
                                        <td>World Pharmacist Day</td>
                                    </tr>
                                    <tr>
                                        <td>26 September</td>
                                        <td>World Contraception Day</td>
                                    </tr>
                                    <tr>
                                        <td>21 to 27 September</td>
                                        <td>World Day of Deaf (Starts last week of September and ends on last Sunday of
                                            September)</td>
                                    </tr>
                                    <tr>
                                        <td>28 September</td>
                                        <td>World Rabies Day, World Retina Day</td>
                                    </tr>
                                    <tr>
                                        <td>29 September</td>
                                        <td>World Heart Day</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-overlay card-overlay-left"></div>
                    <div class="card-overlay card-overlay-right"></div>
                </div>
            </div>

            <div class="interactive-card">
                <div class="card-content-wrapper">
                    <div class="card-front">
                        <img src="../assets/img/events/october.jpg" alt="June Events">
                        <h3 class="card-title">October Month Calendar GOI</h3>
                    </div>
                    <div class="card-back">
                        <h4 class="month-heading">October</h4>
                        <div class="table-scroll-wrapper">
                            <table class="event-table">
                                <thead>
                                    <tr>
                                        <th class="table-date-col">Date</th>
                                        <th class="table-event-col">Day</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>October</td>
                                        <td>Breast Cancer Awareness Month</td>
                                    </tr>
                                    <tr>
                                        <td>01 October</td>
                                        <td>International Day for the Elderly</td>
                                    </tr>
                                    <tr>
                                        <td>01 October</td>
                                        <td>World Vegetarian Day</td>
                                    </tr>
                                    <tr>
                                        <td>02 October</td>
                                        <td>National Anti-Drug Addiction Day</td>
                                    </tr>
                                    <tr>
                                        <td>04 October</td>
                                        <td>World Habitat Day</td>
                                    </tr>
                                    <tr>
                                        <td>06 October</td>
                                        <td>World Cerebral Palsy Day</td>
                                    </tr>
                                    <tr>
                                        <td>09 October</td>
                                        <td>World Sight Day</td>
                                    </tr>
                                    <tr>
                                        <td>10 October</td>
                                        <td>World Mental Health Day</td>
                                    </tr>
                                    <tr>
                                        <td>11 October</td>
                                        <td>International Day of the Girl Child</td>
                                    </tr>
                                    <tr>
                                        <td>11 October</td>
                                        <td>World Obesity Day</td>
                                    </tr>
                                    <tr>
                                        <td>12 October</td>
                                        <td>World Arthritis Day</td>
                                    </tr>
                                    <tr>
                                        <td>13 October</td>
                                        <td>World Thrombosis Day</td>
                                    </tr>
                                    <tr>
                                        <td>15 October</td>
                                        <td>Global Hand washing Day</td>
                                    </tr>
                                    <tr>
                                        <td>16 October</td>
                                        <td>World Food Day, World Spine Day</td>
                                    </tr>
                                    <tr>
                                        <td>16 October</td>
                                        <td>World Anaesthesia Day, World Restart a Heart Day</td>
                                    </tr>
                                    <tr>
                                        <td>17 October</td>
                                        <td>World Trauma Day</td>
                                    </tr>
                                    <tr>
                                        <td>19 October</td>
                                        <td>World Paediatric Bone & Joint Day</td>
                                    </tr>
                                    <tr>
                                        <td>20 October</td>
                                        <td>World Osteoporosis Day</td>
                                    </tr>
                                    <tr>
                                        <td>21 October</td>
                                        <td>World Iodine Deficiency Day</td>
                                    </tr>
                                    <tr>
                                        <td>24 October</td>
                                        <td>World Polio Day</td>
                                    </tr>
                                    <tr>
                                        <td>26 October</td>
                                        <td>World Obesity Day</td>
                                    </tr>
                                    <tr>
                                        <td>29 October</td>
                                        <td>World Stroke Day</td>
                                    </tr>
                                    <tr>
                                        <td>29 Oct to 03 Nov</td>
                                        <td>Vigilance Week</td>
                                    </tr>
                                    <tr>
                                        <td>30 October</td>
                                        <td>World Thrift Day</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-overlay card-overlay-left"></div>
                    <div class="card-overlay card-overlay-right"></div>
                </div>
            </div>

            <div class="interactive-card">
                <div class="card-content-wrapper">
                    <div class="card-front">
                        <img src="../assets/img/events/nov.jpg" alt="June Events">
                        <h3 class="card-title">November Month Calendar GOI</h3>
                    </div>
                    <div class="card-back">
                        <h4 class="month-heading">November</h4>
                        <div class="table-scroll-wrapper">
                            <table class="event-table">
                                <thead>
                                    <tr>
                                        <th class="table-date-col">Date</th>
                                        <th class="table-event-col">Day</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>10 November</td>
                                        <td>World Immunization Day</td>
                                    </tr>
                                    <tr>
                                        <td>12 November</td>
                                        <td>World Pneumonia Day</td>
                                    </tr>
                                    <tr>
                                        <td>11 to 17 November</td>
                                        <td>World Antibiotic Awareness Week</td>
                                    </tr>
                                    <tr>
                                        <td>14 November</td>
                                        <td>World Diabetes Day</td>
                                    </tr>
                                    <tr>
                                        <td>15 to 21 November</td>
                                        <td>New Born Care Week</td>
                                    </tr>
                                    <tr>
                                        <td>17 November</td>
                                        <td>National Epilepsy Day, World Prematurity Day</td>
                                    </tr>
                                    <tr>
                                        <td>18 November</td>
                                        <td>World COPD Day</td>
                                    </tr>
                                    <tr>
                                        <td>18-24 November</td>
                                        <td>World Antimicrobial Awareness Week</td>
                                    </tr>
                                    <tr>
                                        <td>19 November</td>
                                        <td>World Toilet Day 2015</td>
                                    </tr>
                                    <tr>
                                        <td>26 November</td>
                                        <td>Constitution Day</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-overlay card-overlay-left"></div>
                    <div class="card-overlay card-overlay-right"></div>
                </div>
            </div>

            <div class="interactive-card">
                <div class="card-content-wrapper">
                    <div class="card-front">
                        <img src="../assets/img/events/dec.jpg" alt="June Events">
                        <h3 class="card-title">December Month Calendar GOI</h3>
                    </div>
                    <div class="card-back">
                        <h4 class="month-heading">December</h4>
                        <div class="table-scroll-wrapper">
                            <table class="event-table">
                                <thead>
                                    <tr>
                                        <th class="table-date-col">Date</th>
                                        <th class="table-event-col">Day</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>01 December</td>
                                        <td>World AIDS Day</td>
                                    </tr>
                                    <tr>
                                        <td>02 December</td>
                                        <td>National Pollution Prevention Day</td>
                                    </tr>
                                    <tr>
                                        <td>03 December</td>
                                        <td>International Day of Persons with Disabilities</td>
                                    </tr>
                                    <tr>
                                        <td>09 December</td>
                                        <td>World Patient Safety Day</td>
                                    </tr>
                                    <tr>
                                        <td>12 December</td>
                                        <td>Universal Health Coverage Day</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-overlay card-overlay-left"></div>
                    <div class="card-overlay card-overlay-right"></div>
                </div>
            </div>

        </div>
    </section>
</main>