<section class="gallery-section">
    <div class="container">
        <h2 class="gallery-title"> Yoga Day Celebrations</h2>
        <div class="gallery-grid">
            <a href="../assets/img/YD/1.jpg" data-lightbox="vj-gallery"><img src="../assets/img/YD/1.jpg"
                    alt="Gallery Image 1"></a>
            <a href="../assets/img/YD/2.jpg" data-lightbox="vj-gallery"><img src="../assets/img/YD/2.jpg"
                    alt="Gallery Image 2"></a>
            <a href="../assets/img/YD/3.jpg" data-lightbox="vj-gallery"><img src="../assets/img/YD/3.jpg"
                    alt="Gallery Image 3" style="height: 189px;
"></a>
            <a href="../assets/img/YD/4.jpg" data-lightbox="vj-gallery"><img src="../assets/img/YD/4.jpg"
                    alt="Gallery Image 4" style="height: 189px;"></a>
            <a href="../assets/img/YD/5.jpg" data-lightbox="vj-gallery"><img src="../assets/img/YD/5.jpg"
                    alt="Gallery Image 5" style="height: 189px;"></a>
        </div>
    </div>
</section>


<section class="gallery-section">
    <div class="container">
        <h2 class="gallery-title">Freshers Day Celebrations</h2>
        <div class="gallery-grid">
            <a href="../assets/img/shape/fresherday.jpg" data-lightbox="vj-gallery"><img
                    src="../assets/img/shape/fresherday.jpg" alt="Gallery Image 1"></a>
            <a href="../assets/img/shape/fresherday1.jpg" data-lightbox="vj-gallery"><img
                    src="../assets/img/shape/fresherday1.jpg" alt="Gallery Image 2"></a>
            <a href="../assets/img/shape/fresherday2.jpg" data-lightbox="vj-gallery"><img
                    src="../assets/img/shape/fresherday2.jpg" alt="Gallery Image 3" style="height: 189px;
"></a>
            <a href="../assets/img/shape/fresherday3.jpg" data-lightbox="vj-gallery"><img
                    src="../assets/img/shape/fresherday3.jpg" alt="Gallery Image 4" style="height: 189px;"></a>

        </div>
    </div>
</section>
<section class="gallery-section">
    <div class="container">
        <h2 class="gallery-title">Christmas Day Celebrations</h2>
        <div class="gallery-grid">
            <a href="../assets/img/shape/cristmas.jpg" data-lightbox="vj-gallery"><img
                    src="../assets/img/shape/cristmas.jpg" alt="Gallery Image 1"></a>
            <a href="../assets/img/shape/cristmas1.jpg" data-lightbox="vj-gallery"><img
                    src="../assets/img/shape/cristmas1.jpg" alt="Gallery Image 2"></a>
            <a href="../assets/img/shape/cristmas2.jpg" data-lightbox="vj-gallery"><img
                    src="../assets/img/shape/cristmas2.jpg" alt="Gallery Image 3" style="height: 189px;
"></a>

        </div>
    </div>
</section>
<section class="gallery-section">
    <div class="container">
        <h2 class="gallery-title">Sankranthi Celebrations</h2>
        <div class="gallery-grid">
            <a href="../assets/img/shape/sankranti.jpg" data-lightbox="vj-gallery"><img
                    src="../assets/img/shape/sankranti.jpg" alt="Gallery Image 1"></a>
            <a href="../assets/img/shape/sankranti1.jpg" data-lightbox="vj-gallery"><img
                    src="../assets/img/shape/sankranti1.jpg" alt="Gallery Image 2"></a>
            <a href="../assets/img/shape/sankranti2.jpg" data-lightbox="vj-gallery"><img
                    src="../assets/img/shape/sankranti2.jpg" alt="Gallery Image 3" style="height: 189px;
"></a>
            <a href="../assets/img/shape/sankranti3.jpg" data-lightbox="vj-gallery"><img
                    src="../assets/img/shape/sankranti3.jpg" alt="Gallery Image 4" style="height: 189px;"></a>
            <a href="../assets/img/shape/sankranti4.jpg" data-lightbox="vj-gallery"><img
                    src="../assets/img/shape/sankranti4.jpg" alt="Gallery Image 5" style="height: 189px;"></a>

            <a href="../assets/img/shape/sankranti5.jpg" data-lightbox="vj-gallery"><img
                    src="../assets/img/shape/sankranti5.jpg" alt="Gallery Image 5" style="height: 189px;"></a>
            <a href="../assets/img/shape/sankranti6.jpg" data-lightbox="vj-gallery"><img
                    src="../assets/img/shape/sankranti6.jpg" alt="Gallery Image 5" style="height: 189px;"></a>
        </div>
    </div>
</section>
<section class="gallery-section">
    <div class="container">
        <h2 class="gallery-title">APTI-AP State Women's Forum</h2>
        <div class="gallery-grid">
            <a href="../assets/img/logo/women1.jpeg" data-lightbox="vj-gallery"><img
                    src="../assets/img/logo/women1.jpeg" alt="Gallery Image 1"></a>
            <a href="../assets/img/logo/women2.jpeg" data-lightbox="vj-gallery"><img
                    src="../assets/img/logo/women2.jpeg" alt="Gallery Image 2"></a>
            <a href="../assets/img/logo/women3.jpeg" data-lightbox="vj-gallery"><img
                    src="../assets/img/logo/women3.jpeg" alt="Gallery Image 3" style="height: 189px;"></a>
            <a href="../assets/img/logo/women4.jpeg" data-lightbox="vj-gallery"><img
                    src="../assets/img/logo/women4.jpeg" alt="Gallery Image 4" style="height: 189px;"></a>
            <a href="../assets/img/logo/women5.jpeg" data-lightbox="vj-gallery"><img
                    src="../assets/img/logo/women5.jpeg" alt="Gallery Image 5" style="height: 189px;"></a>

        </div>
    </div>
</section>