<main style="overflow-x: hidden;overflow-y: hidden;">

    <!-- breadcrumb start -->
    <section class="breadcrumb bg_img ul_li" data-background="../assets/img/bg/banner.png">
        <div class="container">
            <div class="breadcrumb__content text-center">
                <h2 class="breadcrumb__title">Our Achievements</h2>
                <p class="breadcrumb__desc">Your future is waiting for you.We Are Committed To Excellence In Pharmacy
                    Education</p>
            </div>
        </div>
    </section>
    <!-- breadcrumb end -->

    <section class="achievement-gallery">
        <div class="container">
            <h2 class="section-title">Our Achievements at State & National Level</h2>
            <div style="text-align: center;">
                <div class="img-box">
                    <img src="../assets/img/events/ach.jpg" alt="Achievement 1">
                    <div class="img-caption">100% Pass percentage in 4-2 semester University exams 2025</div>
                </div>

                <div class="img-box">
                    <img src="../assets/img/events/ach1.jpg" alt="Achievement 2" style="height: 257px; width: auto;">
                    <div class="img-caption">Best Participation Award at Aditya College of Pharmacy</div>
                </div>

                <div class="img-box">
                    <img src="../assets/img/events/ach2.jpg" alt="Achievement 3" style="height: 257px; width: auto;">
                    <div class="img-caption">GATE-2015 Qualified Student</div>
                </div>
                <div class="img-box">
                    <img src="../assets/img/bg/achiv1.jpg" alt="Achievement 4" style="height: 257px; width: auto;">
                    <div class="img-caption">GPAT Rankers - 2025</div>
                </div>
                <div class="img-box">
                    <img src="../assets/img/bg/achiv2.jpg" alt="Achievement 5" style="height: 257px; width: auto;">
                    <div class="img-caption">AP PGECET Rankers - 2025</div>
                </div>
                <div class="img-box">
                    <img src="../assets/img/bg/achiv4.jpg" alt="Achievement 6" style="height: 257px; width: auto;">
                    <div class="img-caption">AP PGECET Rankers - 2025</div>
                </div>
                <div class="img-box">
                    <img src="../assets/img/bg/achiv3.jpg" alt="Achievement 7" style="height: 257px; width: auto;">
                    <div class="img-caption">NIPER JEE Rankers - 2025 </div>
                </div>
                <div class="img-box">
                    <img src="../assets/img/bg/achiv.jpg" alt="Achievement 7" style="height: 257px; width: auto;">
                    <div class="img-caption">Maestro Award in Aditya College of Pharmacy </div>
                </div>
                <div class="img-box">
                    <img src="../assets/img/bg/achiv5.jpg" alt="Achievement 8" style="height: 257px; width: auto;">
                    <div class="img-caption">AP PGECET Rankers - 2024</div>
                </div>

                <div class="img-box">
                    <img src="../assets/img/bg/achiv6.jpg" alt="Achievement 9" style="height: 257px; width: auto;">
                    <div class="img-caption">AP PGECET Rankers - 2023</div>
                </div>

                <div class="img-box">
                    <img src="../assets/img/bg/achiv7.jpg" alt="Achievement 10" style="height: 257px; width: auto;">
                    <div class="img-caption">AP PGECET Rankers - 2022</div>
                </div>
                <div class="img-box">
                    <img src="../assets/img/bg/achiv8.jpg" alt="Achievement 11" style="height: 257px; width: auto;">
                    <div class="img-caption">GPAT Rankers - 2021</div>
                </div>
                <div class="img-box">
                    <img src="../assets/img/bg/achiv9.jpg" alt="Achievement 12" style="height: 257px; width: auto;">
                    <div class="img-caption">NIPER Rankers - 2021</div>
                </div>
                <div class="img-box">
                    <img src="../assets/img/bg/achiv10.jpg" alt="Achievement 13" style="height: 257px; width: auto;">
                    <div class="img-caption">AP PGECET Rankers - 2021</div>
                </div>
                <div class="img-box">
                    <img src="../assets/img/about/achievements2.jpg" alt="Achievement 14"
                        style="height: 257px; width: auto;">
                    <div class="img-caption">Gold Medal Awarded To Our UG Student by The Vice Chancellor, Andhra
                        University</div>
                </div>
                <div class="img-box">
                    <img src="../assets/img/about/achievements3.jpg" alt="Achievement 15"
                        style="height: 257px; width: auto;">
                    <div class="img-caption">Gold Medal Awarded To Our PG Student by The Vice Chancellor, Andhra
                        University</div>
                </div>
                <div class="img-box">
                    <img src="../assets/img/about/achievements8.jpg" alt="Achievement 16"
                        style="height: 257px; width: auto;">
                    <div class="img-caption">Andhra Pradesh State Prathibha Award Received by Our Student</div>
                </div>

                <div class="img-box">
                    <img src="../assets/img/about/achievements9.jpg" alt="Achievement 17"
                        style="height: 257px;width: 390px;">
                    <div class="img-caption">Indian Drug Manufacturer's Association (IDMA) - JB MODY National Award to
                        our student</div>
                </div>
                <div class="img-box">
                    <img src="../assets/img/gallery/home.jpeg" alt="Achievement 17"
                        style="height: 257px;width: 390px;">
                    <div class="img-caption">GPAT 2026 RANKS</div>
                </div>
                <div class="img-box">
                    <img src="../assets/img/gallery/home1.jpeg" alt="Achievement 17"
                        style="height: 257px;width: 390px;">
                    <div class="img-caption">PGECET 2026 RANKERS</div>
                </div>
                <div class="img-box">
                    <img src="../assets/img/gallery/home2.jpeg" alt="Achievement 17"
                        style="height: 257px;width: 390px;">
                    <div class="img-caption">GPAT 2026 RANKS</div>
                </div>
                <div class="img-box">
                    <img src="../assets/img/gallery/home4.jpeg" alt="Achievement 17"
                        style="height: 257px;width: 390px;">
                    <div class="img-caption">APPGECET 2026 RANKERS</div>
                </div>
            </div>
        </div>
    </section>
    <!-- <section class="achievement-gallery">
        <div class="container">
            <h2 class="section-title">Awards & Felicitations</h2>
            <div style="text-align: center;">
                <div class="img-box">
                    <img src="../assets/img/events/fal.jpeg" alt="Achievement 1" style="height: 257px; width: auto;">
                </div>
                <div class="img-box">
                    <img src="../assets/img/about/achievements.jpg" alt="Achievement 1"
                        style="height: 257px; width: auto;">
                </div>
                <div class="img-box">
                    <img src="../assets/img/about/achievements1.jpg" alt="Achievement 2"
                        style="height: 257px; width: auto;">
                </div>

                <div class="img-box">
                    <img src="../assets/img/about/achievements10.jpg" alt="Achievement 3"
                        style="height: 257px; width: auto;">
                </div>
            </div>
        </div>
    </section> -->
    <section class="image-text-section">
        <div class="container-layout">
            <!-- Left Image -->
            <div class="image-block left-image">
                <img src="../assets/img/logo/bestpricipal.jpg" alt="Left Image">
            </div>
            <!-- Center Content -->
            <div class="text-content">
                <h2 style="text-align: center;">Best Principal</h2>
                <p>
                    We are proud to announce that the Principal of VJ's College of Pharmacy has been honored with the
                    <b style="color:#60060f ;">Best Principal Award</b> in recognition of exemplary leadership, academic
                    excellence, and tireless dedication to student success.
                </p>
            </div>
            <!-- Right Image -->
            <div class="image-block right-image">
                <img src="../assets/img/logo/certificate.jpg" alt="Right Image">
            </div>
        </div>
    </section>
</main>